@use '../../../styles/utils/constants';
@use 'sass:color';

.stats {
  :global {
    header {
      margin-top: 1rem;
      margin-bottom: 2.5rem;

      h1 {
        font-size: 2rem;
        font-weight: normal;
        line-height: 34px;
        margin: 0;
      }
    }

    #stats-container-basic,
    #stats-container-assignment-dist,
    #stats-container-recommendation-dist,
    #stats-container-bid-dist {
      margin-bottom: 1rem;

      h3 {
        margin-top: 0;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: bold;
        font-size: 1.25rem;
      }
    }

    #stats-container-basic {
      margin-right: -0.5rem;
      margin-left: -0.5rem;

      & > div {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }

    rect.bar {
      fill: #aaa;

      &.clickable {
        fill: constants.$mediumBlue;
        cursor: pointer;

        &:hover {
          fill: color.adjust(constants.$mediumBlue, $lightness: 20%);
        }
      }
    }

    rect.hover-bar {
      fill: transparent;
      cursor: pointer;

      &:hover {
        fill: rgba(234, 234, 234, 0.5);
      }
    }

    .stat-scalar {
      background-color: constants.$sandyBrown;
      border: 1px solid constants.$backgroundGray;
      text-align: center;
      padding: 1rem;
      margin-bottom: 1rem;

      .stat-val {
        font-size: 1.75rem;
        font-weight: bold;
        color: constants.$orRed;
        margin-top: 30px;
        margin-bottom: 12px;
      }

      .stat-name {
        color: constants.$darkBlue;
        font-size: 0.875rem;
      }
    }

    .stat-chart {
      margin-bottom: 15px;

      .stat-name {
        color: constants.$darkBlue;
        font-size: 0.875rem;
      }
    }

    //----------------------------- new implementation -----------------------------//
    .header {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 2.5rem;
      flex-wrap: nowrap;

      h1 {
        font-size: 2rem;
        font-weight: normal;
        line-height: 34px;
        margin: 0;
        flex-grow: 1;
        min-width: 80%;
      }

      .action-dropdown {
        width: 100px;
        flex-grow: 0;
      }
    }

    .basic-stats {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      .stat-scalar {
        width: calc(25% - 1rem);
        margin: 0.5rem;

        .stat-name {
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
      }
    }

    .section-header {
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      text-align: center;
      font-weight: bold;
      font-size: 1.25rem;
    }

    .dist-stats {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      .bin-container {
        display: flex;
        flex-direction: column;
        width: calc(50% - 1rem);
        margin: 0.5rem;
        max-height: 500px;

        &.full-width {
          width: 100%;
        }
      }
      .spinner-container {
        min-width: 45%;
        height: 500px;
      }
      .stat-name {
        text-align: center;
        font-size: clamp(0.25rem, 0.75rem, 0.8rem);
      }
    }

    @media #{constants.$phone-only} {
      .basic-stats {
        justify-content: center;
        .stat-scalar {
          width: 100%;
        }
      }
      .dist-stats > .bin-container {
        width: 100%;

        .stat-name {
          font-size: 0.85rem;
        }
      }
      .dist-stats > .bin-container.full-width {
        .stat-name {
          font-size: 1.75rem;
        }
      }
    }
    @media #{constants.$tablet-only} {
      .basic-stats > .stat-scalar {
        width: calc(50% - 1rem);
      }
      .dist-stats > .bin-container {
        width: 100%;
      }
    }
  }
}
