<table>
  {{#each expertise}}
    <tr {{#unless confirmed}} style="color: #8c1b13;" {{/unless}} {{> signatureTooltip signatures=signatures}}>
      <td><span class="{{#if (isEqual ../index 0)}}left-profile-value{{else}}right-profile-value{{/if}}">{{join keywords}}</span></td>
    </tr>
  {{/each}}
</table>
