@use '../../styles/utils/constants';

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  .feedbackForm {
    margin-top: 1rem;
  }

  :global {
    .feedback-dropdown__control {
      border: 2px solid #659aae !important;
    }

    .feedback-dropdown__value-container {
      padding-left: 0.75rem;
    }

    .spinner-small {
      width: unset;
      div {
        background-color: constants.$orRed;
      }
    }

    .clearable-input {
      position: relative;

      button {
        position: absolute;
        right: 0;
        top: 0%;
        height: 100%;
        border-radius: 0;
        border-color: #659aae;
        background-color: #659aae;
      }

      &:focus-within button {
        background-color: #3f6978;
        border-color: #3f6978;
        box-shadow:
          inset 0 1px 1px rgba(0, 0, 0, 0.075),
          0 0 8px rgba(102, 175, 233, 0.6);
      }
    }
  }
}
