@use '../../../styles/utils/constants';
@use 'sass:color';

.edit {
  :global {
    header {
      margin-top: 0.75rem;
      margin-bottom: 1.5rem;
    }

    .small-heading {
      font-size: 0.875rem;
      font-weight: bold;
      line-height: 1rem;
      color: constants.$darkBlue;
      display: inline-block;
    }
    section .small-heading {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0.25rem;
    }

    .hint {
      vertical-align: bottom;
    }

    .invalid-value {
      border-color: constants.$orRed;
    }

    .invalid-value-icon {
      position: absolute;
      top: 0.25rem;
      right: 8px;
      color: constants.$orRed;
    }

    .tooltip .tooltip-inner {
      white-space: nowrap;
      max-width: none;
      width: max-content;
    }

    div.instructions {
      font-size: 0.75rem;
      color: constants.$subtleGray;
      max-width: 800px;
      margin-bottom: 0.5rem;
      :first-child {
        margin-bottom: 0.5rem;
      }
    }

    .glyphicon-minus-sign,
    .glyphicon-plus-sign,
    .glyphicon-repeat {
      color: constants.$mediumBlue;
      font-size: 1.25rem;
    }

    input {
      margin-right: 0.5rem;
    }

    .profile-edit-container {
      margin-bottom: 2rem;

      .rc-steps {
        display: flex;
        width: 100%;
        font-size: 0;
        margin-bottom: 1.5rem;
        @media #{constants.$phone-only} {
          overflow: scroll;
        }

        .rc-steps-item {
          position: relative;
          display: inline-block;
          vertical-align: top;
          flex: 1 1;

          .rc-steps-item-container {
            display: inline-block;

            .rc-steps-item-tail {
              padding: 0 24px;
              margin-left: 48px;
              position: absolute;
              left: 0;
              width: 100%;
              top: 12px;

              &:after {
                content: '';
                display: inline-block;
                background: constants.$lightGray;
                height: 1px;
                border-radius: 1px;
                width: 100%;
                transition: background 0.3s;
              }
            }

            .rc-steps-item-icon {
              display: inline-block;
              margin-left: 36px;
              border: 1px solid constants.$lightGray;
              width: 26px;
              height: 26px;
              line-height: 26px;
              text-align: center;
              border-radius: 26px;
              font-size: 14px;
              margin-right: 8px;
              transition:
                background-color 0.3s,
                border-color 0.3s;
            }

            .rc-steps-item-content {
              display: block;
              text-align: center;
              margin-top: 8px;
              width: 100px;

              .rc-steps-item-title {
                font-size: 14px;
                margin-bottom: 4px;
                color: constants.$darkBlue;
                font-weight: 700;
                display: inline-block;
                padding-right: 0;
                position: relative;
              }

              .rc-steps-item-description {
                font-size: 0.75rem;
              }
            }
          }

          &.rc-steps-item-process {
            .rc-steps-item-icon {
              background: constants.$orRed;
              color: white;
            }
          }

          &:last-child {
            .rc-steps-item-tail {
              display: none;
            }
          }
        }

        .rc-steps-item-error {
          .rc-steps-item-icon {
            border-color: constants.$orRed;
            background-color: constants.$orRed;
            color: white;

            .rc-steps-icon {
              top: -2px;
              &.rcicon-cross:before {
                content: '✕';
                display: block;
              }
            }
          }
          .rc-steps-item-container {
            .rc-steps-item-content {
              .rc-steps-item-title,
              .rc-steps-item-description {
                color: constants.$orRed;
              }
            }
          }
        }
      }
    }

    #dblp-import-modal,
    #orcid-import-modal {
      .modal-body {
        min-height: 200px;
        max-height: 600px;
        overflow-y: auto;
      }
      .publication-info {
        display: flex;
        margin-bottom: 0.5rem;
        border-top: 1px solid #ddd;
        padding-top: 0.25rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        &:first-of-type {
          border-top: none;
        }

        .publication-title {
          color: constants.$darkBlue;
          font-weight: bold;
          .venue {
            font-weight: lighter;
            font-size: smaller;
            font-style: italic;
          }
        }
      }
      table.table {
        margin-bottom: 0.5rem;
      }
      .webfield-accordion-divider {
        margin: 0;
      }

      .panel-heading {
        padding-bottom: 0;
        .panel-title {
          font-size: 1rem;
          .collapse-btn,
          .glyphicon {
            color: constants.$darkBlue;
          }
        }

        .year-checkbox {
          vertical-align: text-top;
        }
      }
      .panel-body {
        padding-top: 0;
        padding-left: 1.5rem;
      }

      .existing-publication-row {
        background-color: constants.$backgroundGray;
        opacity: 0.5;
      }
      .existing-different-profile-row {
        opacity: 0.5;
      }
      .different-profile-link {
        color: grey;
        .request-merge {
          cursor: pointer;
          color: constants.$mediumBlue;
        }
      }
      .name-not-match {
        color: constants.$orRed;
      }
      .persistent-url-input {
        margin-top: 0.25rem;
        margin-bottom: 1rem;
      }
      .body-message {
        img {
          height: 16px;
          width: 16px;
          padding: 2px;
        }
        ol {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
      .saving-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(250, 250, 250, 0.65);
      }
    }

    .d-flex {
      display: flex;
    }

    @media #{constants.$phone-only} {
      .row {
        margin-bottom: 0.5rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .row > div {
        padding-right: 0;
      }
      div.emails {
        .row {
          margin-bottom: 0;
        }
        .row > div {
          padding-right: 5px;
          &:last-child {
            padding-right: 0;
          }
        }
        .btn {
          margin-right: 0;
        }
      }
      div.personal-links {
        .row {
          margin-bottom: 0;
        }
      }
    }

    @media #{constants.$desktop} {
      .fixed-width-col {
        width: 35px;
      }
      .additional-width-col {
        width: calc(16.66666% - 50px);
      }
    }

    .gender-dropdown {
      margin-top: 5px;
      margin-bottom: 5px;
      &__control {
        max-width: 500px;
        background-color: #fffaf4;
        border: 2px solid color.adjust(constants.$mediumBlue, $lightness: 10%);
        padding: 0 0.75rem;
      }
      &__value-container {
        padding: 0;
      }
      &__menu {
        max-width: 500px;
      }

      > div {
        cursor: pointer;
        color: constants.$subtleGray;
        padding: 0.25rem 0.75rem;
      }
      .active {
        background-color: constants.$mediumBlue;
        color: #fff;
        outline: 0px solid transparent;
      }
    }

    .pronouns-dropdown {
      margin-top: 5px;
      margin-bottom: 5px;
      &__control {
        max-width: 500px;
        background-color: #fffaf4;
        border: 2px solid color.adjust(constants.$mediumBlue, $lightness: 10%);
        padding: 0 0.75rem;
      }
      &__value-container {
        padding: 0;
      }
      &__menu {
        max-width: 500px;
      }

      > div {
        cursor: pointer;
        color: constants.$subtleGray;
        padding: 0.25rem 0.75rem;
      }
      .active {
        background-color: constants.$mediumBlue;
        color: #fff;
        outline: 0px solid transparent;
      }
    }

    .year-of-birth {
      max-width: 500px;
    }

    .names {
      &__value {
        padding-left: 0;
        padding-right: 5px;
        margin-bottom: 5px;
        input {
          text-overflow: ellipsis;
        }
      }
      &__tilde-id,
      .preferred {
        color: constants.$subtleGray;
        font-size: 0.75rem;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
      button {
        margin-right: 0.5rem;
      }
      button.disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    .emails {
      &__value {
        padding-left: 0;
        padding-right: 5px;
        margin-bottom: 5px;
        input {
          text-overflow: ellipsis;
        }
      }
      &__preferred-text {
        white-space: nowrap;
        margin-top: 0.5rem;
      }
      &__confirmed-text {
        margin-top: 0.5rem;
      }
      .btn {
        padding-right: 0.5rem;
      }
    }

    .activation-message {
      display: flex;
      color: constants.$orRed;
      .glyphicon {
        color: constants.$orRed;
        margin-right: 0.5rem;
        font-size: 1rem;
      }
    }

    .personal-links {
      &__input {
        max-width: 100%;
      }
      &__column {
        padding-left: 0;
        padding-right: 0.5rem;
        margin-bottom: 10px;
        // width: auto;
      }
      &__faqlink {
        padding-left: 0.25rem;
        span {
          font-size: 0.85rem;
        }
      }
    }

    .history {
      &__value {
        padding-left: 0;
        padding-right: 5px;
        margin-bottom: 5px;
        input {
          text-overflow: ellipsis;
        }
      }
      .glyphicon-minus-sign {
        margin-top: 0.5rem;
        top: 0;
      }
    }
    .history-new {
      min-width: 60vw;
      padding-left: 15px;

      .row:not(:first-child) {
        margin-bottom: 0.5rem;
      }
    }

    .position-dropdown,
    .institution-dropdown,
    .country-dropdown,
    .relation-dropdown {
      margin-top: 5px;
      margin-bottom: 5px;
      &__control {
        background-color: #fffaf4;
        border: 2px solid color.adjust(constants.$mediumBlue, $lightness: 10%);
        padding: 0, 0.75rem;
      }

      > div {
        cursor: pointer;
        color: constants.$subtleGray;
        padding: 0.25rem 0.75rem;
      }
      .active {
        background-color: constants.$mediumBlue;
        color: #fff;
        outline: 0px solid transparent;
      }

      &__placeholder {
        white-space: nowrap;
      }
    }

    .relation {
      &__value {
        padding-left: 0;
        padding-right: 5px;
        margin-bottom: 5px;
      }
      &__multiple-select {
        width: 100%;
        margin-top: 0 !important;
        margin-left: 0;
        button {
          width: 100%;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }
        ul {
          width: 100%;
          margin-top: 0 !important;
          right: 0;
          left: auto;
        }
      }

      &__multiple-select-mobile {
        ul.dropdown-menu {
          width: 100% !important;
        }
      }

      &__placeholder {
        padding: 1px 4px;
      }

      .glyphicon-minus-sign {
        margin-top: 0.5rem;
        top: 0;
      }

      .relation-name-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid #4d8093;
        padding-left: 0.25rem;
        height: 34px;
        background-color: #fffaf4;

        &.invalid-value {
          border-color: #8c1b13;
        }

        button {
          margin-right: 0;
          border-radius: 0;
          border-color: #4d8093;
          background-color: #4d8093;
          height: 100%;
        }

        .search-input {
          height: 100%;
          width: 100%;
          border: none;
          background-color: unset;

          &:focus-visible {
            outline: none;
          }
        }
      }
    }
    .relation-new {
      min-width: 60vw;
      padding-left: 15px;

      .relation-search {
        max-width: 100%;
        form:last-child {
          margin-bottom: 0;
        }
      }
    }

    .expertise {
      &__value {
        padding-left: 0;
        padding-right: 5px;
        margin-bottom: 5px;
      }
      .glyphicon-minus-sign {
        margin-top: 0.5rem;
        top: 0;
      }
    }

    span.mirror {
      transform: scale(-1, 1);
      margin-left: 0.25rem;
      cursor: pointer !important;
      pointer-events: all;
    }

    div.unlinked-publication {
      opacity: 0.5;
      pointer-events: none;
    }

    .submissions-list {
      h4 {
        font-size: 1rem;
      }
    }

    div.buttons-row {
      display: flex;
      margin-top: 2.5rem;
    }

    .submit-button {
      display: flex;
      margin-right: 0.25rem;
      .spinner-small {
        width: 40px;
      }
    }
  }
}
