@import "../utils/constants";

main.assignments-list{
  #new-configuration-button{
    margin-top: 22px
  }

  .empty-message {
    color: @subtleGray;
    font-style: italic;
    margin-top: 1rem;
  }

  #configuration-table {
    a.disabled{
      pointer-events: none;
      opacity: 0.5;
      cursor: not-allowed;
      color: #777;
    }
  }

  .modal-title {
  margin: 0;
  }

  .modal-body .note_editor {
    .note_content_title {
      font-size: 1.25rem;
      line-height: normal;
      font-weight: bold;
      margin-bottom: .5rem;
    }
  }

  h2{
    margin: 0;
  }
}


