@use '../utils/constants';

$lockGreen: #dff0d8;
$vetoRed: #f2dede;
$hoverColor: #f5f5f5;
$conflictAssignedColor: #e9d7c7;

main.edge-browser {
  .explore-interface {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .column {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
      .empty-message {
        color: #888;
        text-align: center;
        font-style: normal;
        padding: 45px 8px;
        margin-bottom: 0;
      }
      .body {
        flex-grow: 1;
        overflow-y: scroll;
      }
    }

    @media #{constants.$desktop} {
      &.expand-columns-2 {
        .column {
          width: 40%;
        }
        .column-spacer {
          width: 1px;
        }
      }
    }
  }

  .entry-list {
    margin-bottom: 0;
    .tooltip-inner {
      word-break: break-word;
    }
  }

  .entry {
    cursor: pointer;
    &:hover {
      background-color: $hoverColor;
    }
    &.is-selected {
      background-color: aliceblue;
    }
    &.has-conflict {
      background-color: $vetoRed;
    }
    &.is-assigned {
      background-color: $lockGreen;
    }
    &.has-conflict.is-assigned {
      background-color: $conflictAssignedColor;
    }
    &.is-editable {
      .reviewer-heading,
      .note-heading {
        float: left;
      }
    }
    &.divider {
      cursor: pointer;
    }
    .reviewer-heading,
    .note-heading {
      float: none;
      width: 100%;
      h3 {
        margin-top: 0;
        span {
          font-weight: normal;
          color: #777;
        }
      }
      p {
        margin-bottom: 0.25rem;
      }
      .note-venue {
        display: inline-block;
        padding: 0px 0.25rem;
        font-size: 0.75rem;
        border: 1px solid;
        background: #fafafa;
        border: 1px solid #d9d9d9;
        margin-bottom: 0.125rem;
      }
    }
    .edit-controls {
      &.full-width {
        float: none;
        width: 100%;
        clear: both;
        text-align: left;
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
      }
      .btn-xs {
        border-width: 1px;
        padding: 2px 7px;

        &.active {
          border-color: constants.$mediumDarkBlue;
          color: constants.$darkBlue;
        }
      }
      .glyphicon-plus {
        top: 1px;
      }
      label {
        font-size: 0.75rem;
        font-weight: 400;
        padding-right: 0.25rem;
        margin-bottom: 0;
      }
      .edit-edge-dropdown {
        button {
          padding: 1px 6px;
          background-color: #fff;

          &:hover {
            text-decoration: none;
          }
        }
        span.edge-weight {
          display: inline-block;
          min-width: 15px;
        }
        span.two-dropdowns-edge-label {
          display: inline-block;
          align-items: bottom;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 80px;
        }
        span.two-dropdowns-edge-weight {
          display: inline-block;
          align-items: center;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 20px;
        }
        .flex-button {
          align-items: center;
          min-height: 20px;
          display: flex;
        }
        span.caret {
          margin-left: 0.25rem;
        }
        .dropdown-menu {
          min-width: 80px;

          & > li > a {
            font-size: 0.75rem;
            padding: 3px 10px;
          }
        }
      }
      .edit-edge-remove {
        font-size: 0.75rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
      .edit-edge-toggle-description {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .edit-edge-toggle-btn {
        vertical-align: super;
        &.disable {
          opacity: 0.5;
          cursor: no-drop;
        }
      }
      .edit-edge-textbox {
        width: 15%;
        padding-left: 0.5rem;

        .edit-edge-input {
          font-size: 0.75rem;
          padding: 3px 5px;
          height: fit-content;

          &:disabled {
            cursor: no-drop;
          }
        }
      }
      .edit-edge-spinner {
        display: inline-flex;
        vertical-align: middle;

        .spinner-small {
          height: 100%;
          display: inline-block;
          width: 40px;
          & > div {
            background-color: constants.$orRed;
          }
        }
      }
      .span-disabled {
        pointer-events: none;
      }
    }
    .scores-list {
      float: left;
    }
    .action-links {
      float: right;
    }
    &.is-selected .action-links {
      ul li {
        font-weight: bold;
      }
    }
    .d-flex {
      display: flex;
      align-items: baseline;
    }
  }

  .entry-note {
    .note-authors {
      margin-bottom: 0.25rem;
      font-size: 0.75rem;
      line-height: normal;
      a {
        color: constants.$darkBlue;
        &:hover {
          text-decoration: underline;
        }
        &.show-all-authors {
          color: constants.$mediumBlue;
        }
      }
    }
    .private-author-label {
      color: #777;
      padding-left: 0.25rem;
      font-style: italic;
    }
    .note-content {
      clear: both;
      font-size: 0.75rem;
      margin-bottom: 0.25rem;

      .collapse {
        margin-top: 0.25rem;
      }
      ul.note-content-list {
        border-left: 2px solid #ddd;
        padding-left: 0.5rem;
        li {
          padding-left: 0;
        }
        li + li {
          margin-top: 0.25rem;
        }
        strong {
          color: constants.$orRed;
        }
      }
    }
  }

  .explore-header {
    h1 {
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 1.25rem;
      font-size: 1.625rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .edit-matching-name {
        font-size: 0.75rem;
        padding-left: 0.75rem;
        font-weight: normal;
      }
    }

    #matching-title-edit {
      input {
        background: transparent;
        border-radius: 0;
        font-size: 36px;
        padding: 1px 10px;
        height: auto;
        box-shadow: none;
        border: 0;
        font-weight: 500;
        text-shadow: 0 1px 0px #fff;
        line-height: normal;
      }
      a {
        padding-left: 10px;
      }
    }

    p {
      margin-bottom: 0;
    }

    .filter-links {
      text-align: right;
      margin-top: 5px;

      a.btn {
        margin-right: 5px;
      }
    }

    .btn-primary {
      margin-left: 5px;
    }
  }

  .explore-interface {
    overflow: auto;
    white-space: nowrap;
    padding: 0 15px 0 15px;
    min-height: 360px;
    height: calc(100vh - 195px);
    scroll-behavior: smooth; // Not supported in IE

    @media #{constants.$phone-only} {
      height: calc(100vh - 177px);
    }

    .column {
      position: relative;
      vertical-align: top;
      width: 385px;
      height: 100%;
      background-color: #fff;
      border: 1px solid #ccc;
      border-bottom: 2px solid #ccc;
      overflow: hidden;
      white-space: normal;
      outline: none;

      &:last-child {
        margin-right: 14px;
      }
      @media #{constants.$phone-only} {
        width: 345px;
      }
    }
    .column-spacer {
      width: 1px;
      border: 0;
      background: transparent;
    }

    .head,
    .col-search {
      background-color: constants.$sandyBrown;
      border-bottom: 1px solid #ccc;
      padding: 0.5rem;
    }

    .head {
      height: auto;

      p {
        line-height: 1.125rem;
        margin: 0;
      }
      p.description {
        margin-top: 0.125rem;
        font-size: 0.75rem;
        line-height: normal;
        color: #777;

        span.glyphicon {
          padding-right: 0.25rem;
          font-size: 0.8rem;
        }
      }
      .btn-default {
        float: right;
        background-color: transparent;
      }
    }

    .col-search {
      .form-control-feedback {
        color: #aaa;
      }
      .form-group {
        margin-bottom: 0;
      }
      .sort-container {
        margin-top: 0.25rem;
        label {
          display: inline-block;
          font-size: 0.75rem;
          font-weight: 400;
          width: 60px;
          margin-bottom: 0;
        }
        select {
          display: inline-block;
          line-height: 1.125rem;
          width: calc(100% - 60px);
        }
      }
      div.checkbox {
        margin-top: 0.25rem;
        margin-bottom: 0;
        label {
          font-size: 0.75rem;
          min-height: auto;
        }
        input {
          margin-top: 2px;
        }
      }
    }

    .form-control {
      background-color: #fff;
      border: 1px solid #ccc;

      &:focus {
        border-color: constants.$mediumBlue;
        box-shadow:
          inset 0 1px 1px rgba(0, 0, 0, 0.01),
          0 0 0 1px constants.$mediumBlue;
      }
    }

    div.body {
      overflow: auto;

      div.search-results {
        height: 100%;
      }
      .divider {
        margin: 0;
        padding: 8px;
        font-size: 0.875rem;
        line-height: 1rem;
        color: constants.$orRed;
        background-color: constants.$sandyBrown;
        font-weight: bold;
        border-bottom: 1px solid constants.$orRed;
        // box-shadow: 0px 1px 5px rgba(80,80,80,0.15);
        // z-index: 100;

        .caret {
          display: inline-block;
          margin-left: 0px;
          margin-right: 4px;
          margin-top: -2px;
        }
      }
    }

    p.get-started {
      color: #888;
      text-align: center;
      padding: 45px 30px;
    }
    .alert-danger {
      margin: 10px;
      padding: 45px 30px;
    }

    // Recommend widget
    .tag-widget[data-type='radio'] {
      .btn-group-xs {
        &.disabled {
          opacity: 0.65;
          label {
            color: constants.$mediumDarkBlue;
            cursor: not-allowed;
          }
          label.active {
            color: #fff;
          }
          label:hover {
            background-color: transparent;
          }
          label.active:hover {
            background-color: constants.$mediumBlue;
          }
        }
      }
      .btn-group-xs > .btn {
        padding: 1px 8px;
        border-width: 1px;
        margin-right: 0px;
      }
      .btn-group-xs > .btn:first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      .btn-group-xs > .btn:last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      .btn-default {
        color: constants.$mediumBlue;
        &.active {
          color: #fff;
          background-color: constants.$mediumBlue;
          border-color: constants.$mediumDarkBlue;
        }
      }
    }
  }

  &.banner-hidden .explore-interface {
    height: calc(100vh - 156px);
    @media #{constants.$phone-only} {
      height: calc(100vh - 145px);
    }
  }

  .entry {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;

    &.selected {
      background-color: aliceblue;
    }
    &.current-cell::before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-right: 3px solid constants.$orRed;
    }

    h3 {
      margin-top: 1px;
      margin-bottom: 0.125rem;
      font-size: 0.875rem;
      font-weight: bold;
      line-height: 1.125rem;

      a {
        color: constants.$mediumBlue;
        padding-right: 0.25rem;
        &:hover {
          color: #23527c;
        }
      }
      span {
        font-size: 0.75rem;
      }
    }

    p {
      color: constants.$subtleGray;
      font-size: 0.75rem;
      margin-bottom: 0;
    }

    a {
      outline: none;

      &:active {
        outline: none;
      }
      &.active {
        font-weight: bold;
        text-decoration: none;
        letter-spacing: -0.5px;
        color: #333;
      }
    }

    .feedback-btns {
      display: none;
      float: left;
      margin-right: 8px;

      .btn {
        border: 1px solid #ccc;
        font-size: 10px;
        padding: 3px 5px;
        min-width: auto;
        line-height: normal;
        outline: none;
      }
      .btn:active,
      .btn:focus {
        outline: none;
      }
      .btn-default:focus {
        background-color: inherit;
      }
      .btn-default.active:focus {
        background-color: #e6e6e6;
      }
      .glyphicon-lock {
        margin-right: -1px;
        top: 1px;
      }
      .glyphicon-remove {
        margin-right: -1px;
        top: 1px;
      }
    }

    .action-links ul,
    .scores-list ul {
      li {
        white-space: wrap;
      }
      li > a {
        font-size: 0.75rem;
      }
      li > span {
        font-size: 0.75rem;
        color: #444;
      }
      li > strong {
        font-size: 0.75rem;
      }
      li > em {
        font-size: 0.75rem;
        color: #444;
      }
    }
  }
  .show-lock-break .feedback-btns {
    display: block;
  }

  .entry-paper {
    &.locked {
      background-color: $lockGreen;
    }
    &.unassigned {
      background-color: $vetoRed;
    }
    .action-links {
      clear: both;

      .feedback-btns {
        float: left;
        margin-top: 2px;
      }
      ul.left {
        width: calc(100% - 125px);
        float: left;
      }
      ul.right {
        width: 125px;
        float: right;
        text-align: right;
      }
    }
  }
  .show-lock-break .entry-paper .action-links ul.left {
    width: calc(100% - 155px);
    float: left;
  }

  .entry-reviewer,
  .entry-areachair {
    &:after {
      content: '';
      display: table;
      clear: both;
    }

    &.locked {
      background-color: $lockGreen;
    }
    &.unassigned {
      background-color: $vetoRed;
    }
  }
  .show-lock-break .entry-reviewer .reviewer-heading,
  .show-lock-break .entry-areachair .areachair-heading {
    width: calc(100% - 134px);
  }
  .widget-invite-assignment {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    align-items: baseline;
    input {
      flex-grow: 1;
      margin-right: 0.5rem;
      height: 26px;
      border-radius: 2px;
    }
    .btn-xs {
      display: flex;
    }
    .spinner-small {
      height: 15px;
      display: inline-block;
      width: 40px;
      text-align: center;
      margin: 0;
      & > div {
        background-color: constants.$orRed;
      }
    }
  }
}

#assignment-parameters-modal {
  .modal-body {
    h4 {
      margin-top: 0;
    }
    p {
      margin-bottom: 20px;
    }
  }
}

#paper-abstract-modal {
  .modal-title {
    line-height: normal;
  }
  .modal-body {
    h4 {
      margin-top: 0;
    }
    p {
      margin-bottom: 20px;
    }
  }
}

#confirm-assignment-changes-modal {
  .tab-pane {
    padding-left: 0;
  }

  table {
    td {
      vertical-align: middle;
    }
    td.locked,
    td.vetoed,
    td.none,
    td.conflict {
      text-align: center;
    }
    td.locked {
      background-color: $lockGreen;
    }
    td.vetoed {
      background-color: $vetoRed;
    }
    td.none {
      color: #888;
    }
    td.conflict {
      background: repeating-linear-gradient(
        45deg,
        $vetoRed,
        $vetoRed 10px,
        $lockGreen 10px,
        $lockGreen 20px
      );
      color: constants.$mediumBlue;
      &:hover {
        text-decoration: underline;
      }
    }
    td.toggle-cell {
      cursor: pointer;
    }
  }

  @media #{constants.$desktop} {
    .modal-lg {
      width: 800px;
    }
  }
}

#submit-assignment-changes-modal {
  .modal-dialog {
    margin-top: 100px;
  }
  .modal-body {
    p {
      text-align: center;
    }
    img.loading {
      display: block;
      width: 75px;
      margin: 20px auto;
    }
  }
}
