main.faq {

  .faq-header {
    h1 {
      margin-bottom: 30px;
    }
  }

}

img[alt=Submission] {
  width: 1000px;
  height: 1000px;
}

img[alt=Review] {
  width: 1000px;
  height: 800px;
}

img[alt=Metareview] {
  width: 1000px;
  height: 600px;
}

img[alt=Comment] {
  width: 1000px;
  height: 600px;
}

img[alt=Decision] {
  width: 1000px;
  height: 600px;
}
