@use "../utils/constants";
@use "../utils/mixins";

main.group, main.invitation {

  #header, header {
    // Venue header
    margin-bottom: 1.5rem;

    h1 + h3 {
      margin-top: -.25rem;
    }
    h3 {
      line-height: 1.875rem;
      margin: 0;
    }
    h4 {
      color: #777777;
      font-size: 1.125rem;
      font-weight: normal;
      line-height: normal;

      span {
        display: inline-block;
        padding-right: 1.25rem;
      }
    }
    .glyphicon {
      padding-right: .125rem;
    }
    .pad-left {
      padding-left: 1.25rem;
    }
    div.description {
      margin-top: 1rem;
    }
    p {
      color: #777777;
      &.dark {
        color: constants.$darkBlue;
      }
    }

    @media #{constants.$phone-only} {
      margin-bottom: 1.25rem;

      h1 {
        font-size: 1.875rem;
        margin-top: 0;
      }
      h4 {
        font-size: 1rem;
      }
      h4 > span {
        display: block;
        margin-bottom: 5px
      }
      h4 > span:last-child {
        margin-bottom: 0;
      }
      span.pad-left {
        padding-left: 0;
      }
    }
  }

  #invitation {
    margin-bottom: 1.5rem;

    div.panel {
      @include mixins.well;
      margin-bottom: 0;
    }
    .note_editor {
      margin-top: -1px;

      .note_content_title {
        display: none;
      }
      hr {
        display: none;
      }
      .note_content_section > hr {
        display: block;
      }
      .hint {
        margin-bottom: .25rem;
      }
    }
  }

  #notes {
    margin-bottom: 30px;

    hr {
      margin-bottom: .625rem;
      margin-top: .625rem;

      &.spacer {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }

    .spinner-container {
      position: static;
      top: auto;
      left: auto;
      transform: none;
      padding: 1rem 0;

      &.spinner-mini {
        position: absolute;
        padding: 0;
      }
    }

    @media #{constants.$phone-only} {
      margin-bottom: 15px;

      .spinner-container.spinner-mini {
        position: static;
        width: 100%;
        margin-top: 1rem;

        .spinner {
          margin: 0 auto;
        }
      }
    }
  }

  .item {
    padding-right: .5rem;
    vertical-align: middle;
  }

  // Console webfield styles
  .tab-pane form.search-form {
    margin: -10px 0 10px -16px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: .75rem 1rem;

    strong {
      padding-right: .25rem;
    }
    select {
      width: 330px;
      margin-right: .5rem;
    }
    .btn {
      margin-right: .25rem;
    }
    input.invalid-value {
      border-color: constants.$orRed;
    }
    .tooltip {
      width:300px;
    }
    .tooltip-arrow {
      left: 20%;
    }
    .tooltip-inner {
      width: 100%;
      max-width: none;
      text-align: left;
      .tooltip-title {
        margin-left: 30%;
      }
    }
  }

  table {
    margin-bottom: 0;
  }

  .console-table, .ac-console-table {
    h4 {
      margin-bottom: .5rem;
    }
    .note-number {
      font-size: 1rem;
    }
    .note-authors {
      margin-bottom: .5rem;
    }
    .note-contents-toggle {
      font-size: .875rem;
    }
    .note-contents-collapse {
      border-left: 0;
    }
    .note-content {
      font-size: .75rem;
      max-width: 850px;
      strong {
        padding-right: .25rem;
        color: constants.$orRed;
      }
      li {
        padding: .125rem 0;
      }
    }
    ul.list-unstyled {
      margin-top: .25rem;
    }
    table.table-minimal {
      margin-top: .25rem;
      margin-bottom: 2px;
    }
    .btn-assign-reviewer {
      vertical-align: top;
    }
    .input-assign-reviewer {
      height: 26px;
      width: 240px;
      margin-right: 0.2rem;
      font-size: 0.75rem;
    }
    .dropdown_content_assign_reviewer {
      width: 240px;
      font-size: 0.75rem;
      overflow-x: hidden;
    }
    .div-add-reviewer {
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
    }
  }

  .console-table {
    .row-0 {
      width: 4%;
    }
    .row-1 {
      width: 28%;
    }
    .row-2 {
      width: 40%;
    }
    .row-3 {
      width: 28%;
    }
  }

  .ac-console-table {
    .row-0 {
      width: 35px;
    }
    .row-1 {
      width: 55px;
    }
    .row-2 {
      width: 35%;
    }
    .row-3 {
      width: 30%;
    }
    .row-4 {
      width: auto;
    }
  }

  // Edit and Info Mode
  section {
    &.general, &.members, &.children, &.invitations, &.messages,
    &.subinvitations, &.webfield, &.process, &.preprocess, &.reply, &.tabs, &.notes {
      margin-bottom: 1.75rem;
      h4 {
        margin-bottom: 1rem;
      }
      .empty-message {
        color: constants.$subtleGray;
        font-style: italic;
      }
      textarea {
        width: auto;
        height: auto;
        display: block;
      }
      ul.pagination {
        margin-top: .5rem;
        margin-bottom: 0;
      }
    }

    ul.list-paginated > li > a {
      line-height: 1.375rem;
    }
  }

  .group-members-table {
    margin-top: -1rem;
    margin-bottom: .25rem;

    thead > tr > th {
      border-bottom: 0;
    }
    tbody > tr > td {
      padding: 6px 8px;
    }

    input[type="checkbox"] {
      vertical-align: top;
    }

    .empty-message {
      margin-top: .5rem;
      margin-bottom: .5rem;
      color: #333;
    }

    tr.selected {
      background-color: #f5f5f5;
    }
    tr.removed {
      background-color: #ddd;
      opacity: .5;
    }
    td.action-links {
      padding-top: 4px;
      padding-bottom: 4px;
      text-align: right;
    }
    .btn-xs {
      padding-top: 1px;
      padding-bottom: 1px;
      margin-right: 0;
      .glyphicon {
        padding-right: 2px;
      }
    }
  }

  .group-info-table {
    margin-bottom: 0rem;
    dt {
      width: 110px;
      text-align: right;
    }
    dd {
      margin-left: 120px;
      margin-bottom: .2rem;
    }
  }

  .group-members-form, .group-info-form {
    input[type="text"] {
      width: 430px;
    }
    button {
      height: 30px;
      line-height: 1rem;
      min-width: auto;
      margin-right: 0;
    }
    select {
      background-position-y: 100%;
      line-height: 1rem;
    }
  }
  .group-members-form {
    @include mixins.well;
    margin-bottom: 0;
    overflow: hidden;

    .form-group.pull-left {
      margin-left: .25rem;
    }
    input, select {
      margin-right: 0;
    }
    .select-all-members {
      width: 100px;
    }
  }
  .group-info-form {
    margin-top: 1rem;

    .col-xs-2 {
      width: 130px;
      padding-right: 0;
      padding-left: 0;
    }
    .control-label {
      padding-top: 5px;
    }
    .form-group {
      margin-bottom: .5rem;
      &:last-child {
        margin-top: 1rem;
      }
    }
    select {
      width: 250px;
    }
    input[type="checkbox"] {
      width: 1rem;
      height: 1rem;
      margin-top: .5rem;
      margin-bottom: .5rem;
    }
    input[type="number"] {
      width: 100px;
    }
    .date {
      input.datetimepicker {
        width: 210px;
      }
      > .glyphicon {
        top: 2px;
        color: constants.$subtleGray;
        margin-left: -2rem;
      }
      select {
        width: 240px;
        vertical-align: bottom;
        margin-left: .75rem;
      }
    }
    .has-feedback .form-control {
      padding-right: 24px;
    }
  }
  .edit-group-info {
    margin-top: .75rem;
  }

  #webfield-editor, #process-editor, #preprocess-editor {
    width: 100%;
    height: 600px;
    margin-bottom: 1rem;
    border: 1px solid #eee;
  }

  section.webfield, section.process, section.preprocess {
    .alert {
      margin-top: 1rem;
      margin-bottom: .5rem;
    }
    .webfield-editor-container {
      margin-top: 1.125rem;
    }
  }

  section.children, section.invitations {
    ul {
      ul {
        margin-bottom: 0;
      }
    }
    li.toggle-container {
      padding: .25rem 0;
    }
  }

  section.reply, section.tabs {
    textarea, .alert {
      width: 100%;
      max-width: 800px;
      margin-bottom: .5rem;
    }
  }

  section.messages {
    h4 {
      margin-bottom: 1.25rem;
    }
    .progress {
      margin-bottom: 1rem;
    }
    .progress-bar {
      background-color: constants.$mediumBlue;
    }
  }

  section.members.info-mode {
    h5 {
      font-weight: bold;
      line-height: normal;
    }
    hr {
      border-top: 1px solid constants.$backgroundGray;
      border-bottom: 1px solid constants.$backgroundGray;
    }
  }

  //new implementation
  section {
    margin-bottom: 1.75rem;
  }

  h4 {
    margin-bottom: 1rem;
  }

  .info-container, .edit-container {
    .row {
      display: flex;
      margin-bottom: .2rem;
    }
    &__label {
      font-weight: 700;
      width: 12%;
      text-align: right;
      white-space: nowrap;
      margin-right: .5rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__content {
      width: 88%;
    }
    &__control {
      width: 50%;
    }
  }

  .edit-container__label {
    margin-top: 5px;
  }

  .members-container {
    padding-left: 0;
    .search-row {
      background-color: constants.$sandyBrown;
      padding-top: .5rem;
      padding-bottom: .5rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      button {
        height: 30px;
        margin-left: .25rem;
        margin-right: .25rem;
      }
      .space-taker {
        flex-grow: 1;
      }

      .input-group {
        flex-grow: 1;
        max-width: 45%;
        margin-left: .5rem;
        white-space: nowrap;

        span {
          margin-left: -3rem;
          margin-top: 5px;
          padding-left: 1.5rem;
          z-index: 3;
          color: constants.$subtleGray;
        }
      }
    }


    .empty-message-row {
      border-bottom: 1px solid #ddd;
      padding: 6px 8px;
      font-style: italic;
      color: constants.$subtleGray;
      overflow-wrap: break-word;
    }

    .member-row {
      &:hover {
        background-color: constants.$backgroundGray;
      }
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      border-bottom: 1px solid #ddd;
      padding: 6px 8px;
      align-items: center;
      input {
        margin: 0;
      }
      .member-id {
        flex-grow: 1;
        margin-left: .5rem;
        height: 100%;
      }
      .glyphicon {
        margin-right: .25rem;
      }
      button {
        margin-left: .25rem;
      }
      &.deleted {
        background-color: rgba(221, 221, 221, 0.5);
        .member-id,a{
          opacity: .5;
          color: rgba(51, 51, 51, 1);
          font-style: italic;
        }
      }
    }
  }
  section.members {
    textarea {
      width: 100%;
    }
    .receiver-list {
      max-height: 150px;
      overflow-y: scroll;
    }
  }

  .spinner-small {
    width: 40px;
  }

  .save-button-wrapper {
    display: flex;
  }
}
