@use "../utils/constants";

main.home {
  h1 {
    margin-top: .75rem;
  }

  .conferences {
    margin-top: 1rem;
    margin-bottom: 2.5rem;

    h2 {
      font-size: 1.75rem;
      margin-top: 1rem;

      span {
        font-size: .75rem;
        padding-left: 1rem;
        padding-right: .25rem;
      }
      @media #{$desktop} {
        font-size: 1.875rem;
      }
    }
  }
}
