@use '../pages/group.scss';

main.invitation {
  // See group.scss for shared styles

  .tabs-container {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .bid-interface-tabbed {
    .search-form {
      margin-bottom: 1rem;

      input {
        margin-right: 0;
      }
      label {
        margin-right: .5rem;
      }
      .search-content {
        input {
          width: 350px;
        }
      }
      .subject-area {
        margin-left: 1rem;

        input, .dropdown_content {
          width: 350px;
        }
      }
    }
  }

  .group-info-table {
    dt {
      width: 120px;
    }
    dd {
      margin-left: 130px;
    }
  }

  input.datetimepicker {
    display: inline-block;
    margin-right: 0.5rem;
  }
  select.timezone {
    display: inline-block;
  }

  // new implementation
  section {
    margin-bottom: 1.75rem;
  }
  .row {
    margin-bottom: .25rem;
  }
  .d-flex {
    display: flex;
  }
  .info-title {
    font-weight: 700;
    width: 12%;
    text-align: right;
    white-space: nowrap;
    margin-right: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    &.edit-title {
      margin-top: 5px;
    }
  }
  .info-content{
    width:88%;
  }
  .info-edit-control{
    width:50%;
  }
  .spinner-small {
    width: 40px;
  }
  .save-button-wrapper {
    display: flex;
  }
  button{
    margin-top: .75rem;
    margin-right: .5rem;
  }
  .timezone-dropdown {
    width: 100%;
    .dropdown-select__option,.dropdown-select__menu,.dropdown-select__menu-list {
      width: 450px;
      overflow-x: hidden;
    }
  }
  ul.list-unstyled {
    min-height: 300px;
  }
}
