@use '../pages/group.scss';
@use '../utils/mixins';
@use '../utils/constants';

main.invitation {
  // See group.scss for shared styles

  .tabs-container {
    margin-top: 1rem;
  }

  .bid-interface-tabbed {
    .search-form {
      margin-bottom: 1rem;

      input {
        margin-right: 0;
      }
      label {
        margin-right: 0.5rem;
      }
      .search-content {
        input {
          width: 350px;
        }
      }
      .subject-area {
        margin-left: 1rem;

        input,
        .dropdown_content {
          width: 350px;
        }
      }
    }
  }

  .group-info-table {
    dt {
      width: 120px;
    }
    dd {
      margin-left: 130px;
    }
  }

  input.datetimepicker {
    display: inline-block;
    margin-right: 0.5rem;
  }
  select.timezone {
    display: inline-block;
  }

  // new implementation
  h4 {
    margin-bottom: 0;
  }

  .code-editor {
    margin-top: 1rem;

    .cm-editor {
      border-color: #ddd;
    }
  }

  .deleted {
    opacity: 0.5;
  }

  section {
    margin-bottom: 1.75rem;
  }
  .row {
    margin-bottom: 0.25rem;
  }
  .d-flex {
    display: flex;
  }
  .info-title {
    font-weight: 700;
    width: 12%;
    text-align: right;
    white-space: nowrap;
    margin-right: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
    &.edit-title {
      margin-top: 5px;
    }
  }
  .info-content {
    width: 88%;
  }
  .info-edit-control {
    width: 50%;
    input[type='number'] {
      width: 100px;
    }
  }
  .spinner-small {
    width: 40px;
  }
  .save-button-wrapper {
    display: flex;
  }
  section button {
    margin-top: 0.75rem;
    margin-right: 0.5rem;
  }
  .timezone-dropdown {
    width: 100%;
    .dropdown-select__option,
    .dropdown-select__menu,
    .dropdown-select__menu-list {
      width: 450px;
      overflow-x: hidden;
    }
  }
  .reply-preview .tabs-container {
    div[role='tablist'] {
      margin-top: 1rem;
      a[data-target='#Reply'] {
        background-color: constants.$backgroundWhite;
        border: 1px solid #ddd;
      }
      a[data-target='#Preview'] {
        background-color: constants.$sandyBrown;
      }
    }
    .code-editor {
      margin-top: 0;
      .cm-editor {
        border-top: 0;
      }
    }
    .tab-pane {
      padding: 0;
      min-height: 200px;

      .note-editor-preview {
        @include mixins.well;
        background-color: transparent;
        border-top: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;

        button {
          margin-top: 0;
        }

        .note_content_title {
          font-size: 1.125rem;
          line-height: 1.125rem;
          margin-top: 0;
          margin-bottom: 0.5rem;
        }
        hr {
          display: none;
        }
        .note_content_section > hr {
          display: block;
        }
        .hint {
          margin-bottom: 0.25rem;
        }
      }
    }
  }

  .dateprocess-editor {
    .glyphicon-minus-sign,
    .glyphicon-plus-sign {
      color: constants.$mediumBlue;
      font-size: 1.25rem;
    }
    .glyphicon-minus-sign {
      margin-top: 5px;
    }
    .code-editor {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .dateprocess-row {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      .dropdown-select {
        min-width: 10%;
        align-self: start;
        margin-right: 1rem;
      }

      .delay-input {
        flex-grow: 1;
      }

      input.invalid-value {
        border-color: constants.$orRed;
      }

      button {
        margin-top: 0;
        margin-left: 1rem;
        margin-right: 0;
        align-self: start;
        height: 34px;
      }

      .dates {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .date-row,
        .cron-expr,
        .cron-start {
          display: flex;
          justify-content: flex-start;
          margin-bottom: 0.5rem;
          .glyphicon {
            margin-left: 0.5rem;
          }
        }
      }

      &.deleted {
        opacity: 0.5;
        pointer-events: none;

        button {
          pointer-events: all;
          cursor: pointer;

          &.showscript-button {
            pointer-events: none;
          }
        }
      }
    }
    .add-row {
      display: flex;
      justify-content: flex-start;
      button {
        margin-top: 1rem;
      }
    }
    .save-btn {
      margin-top: 0;
    }
    .empty-message {
      color: constants.$subtleGray;
    }
  }
}
