@use '../utils/constants';

main.login {
  .login-container,
  .signup-container {
    margin-top: 0.5rem;
    margin-bottom: 2rem;

    form {
      margin-top: 1rem;
    }
    label {
      color: constants.$orRed;
    }
    input {
      max-width: 480px;
    }

    @media #{constants.$tablet} {
      input {
        max-width: 326px;
      }
    }
    @media #{constants.$desktop} {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      padding: 0 2rem;
      input {
        max-width: 100%;
      }
    }
  }

  .login-container {
    button {
      margin-top: 0.25rem;
      margin-bottom: 0.5rem;
    }
  }

  .signup-container {
    & > div {
      margin-top: 1.5rem;
    }
    a.btn {
      width: 120px;
    }
  }
}
