@import "../utils/constants";

main.messages {

  .filter-controls {
    margin-top: 2rem;
    margin-bottom: 1rem;

    .form-group {
      margin-right: .75rem;
      margin-bottom: .5rem;

      label {
        margin-right: .25rem;
      }
      .multiselector {
        margin-left: 0;
        margin-right: 0;
      }
    }
    input[type="text"] {
      line-height: 34px;
    }
    #status-search-dropdown {
      width: 110px;
    }
    #subject-search-input {
      width: 250px;
    }
    #to-search-input {
      width: 180px;
    }
    #parent-group-search-input {
      width: 320px;
    }
    .spinner-small {
      vertical-align: middle;
      height: 26px;
      margin-right: -36px; // prevent other form elements from shifting

      & > div {
        background-color: $orRed;
      }
    }

    @media #{$large} {
      .form-group {
        margin-bottom: 0;
      }
    }
  }

  .spinner-container {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

}
