@use '../utils/constants';
@use '../utils/mixins';

main.notifications {
  header h1 {
    margin-bottom: 1.5rem;
  }

  .filters-col {
    margin-left: 15px;
    margin-right: 15px;
  }
  .messages-col {
    margin-left: 15px;
    margin-right: 15px;
  }
  @media #{constants.$desktop} {
    .filters-col {
      float: left;
      width: 245px;
      margin-right: .5rem;
    }
    .messages-col {
      float: left;
      width: calc(100% - 245px - 30px - 1rem);
      margin-left: .5rem;
    }
  }

  .table > thead > tr > th {
    padding: .375rem .5rem;
  }
  table.messages-table {
    border-bottom: 0;

    th > span.pull-left {
      line-height: 26px;
    }
    td.viewed {
      opacity: 0.6;
      background-color: #eee;
      &:hover {
        opacity: .8;
      }
      .collapse-widget > div {
        border-left: 3px solid #fff;
        padding-top: .5rem;
        padding-right: .5rem;
        padding-bottom: .5rem;
        background-color: constants.$backgroundWhite;
      }
    }
    .email-title h4 {
      font-size: 1rem;
      line-height: normal;
      color: constants.$darkBlue;
      cursor: pointer;
      margin: 0;
    }
    .collapse-widget > div {
      margin-top: .375rem;
      border-left: 3px solid #eee;
      padding-left: .875rem;
    }
  }
  .markdown-rendered {
    @include mixins.markdown-content-styles;
    p:last-child {
      margin-bottom: 0;
    }
  }
  .filters-table {
    th > span {
      line-height: 26px;
    }
    tbody > tr > td {
      padding: 0;
      padding-top: .75rem;
    }
  }
  .nav-stacked {
    & > li {
      display: flex;
      justify-content: space-between;
      border-radius: 4px;
      padding: 12px 10px;
      cursor: pointer;

      &:hover {
        background-color: constants.$borderGray;
      }
      &.active {
        background-color: constants.$mediumDarkBlue;
        & > a {
          background-color: transparent;
        }
        & > .badge {
          background-color: constants.$backgroundWhite;
          color: constants.$mediumDarkBlue;
        }
      }

      & > a {
        padding: 0;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
          background-color: transparent;
        }
      }
    }
    & > li + li {
      margin-top: 6px;
    }
    .badge {
      background-color: constants.$mediumDarkBlue;
      padding: 0px 6px;
      min-width: 20px;
      line-height: 20px;
      margin-left: 4px;
      flex-shrink: 0;
    }
  }
}
