@import "../utils/constants";

main.profile-edit {

  header {
    margin-top: .75rem;
    margin-bottom: 1.5rem;
  }

  .small-heading {
    font-size: .875rem;
    font-weight: bold;
    line-height: 1rem;
    color: @darkBlue;
    display: inline-block;
  }

  .hint {
    vertical-align: bottom;
  }

  .invalid-value {
    border-color: @orRed;
  }

  p.instructions {
    font-size: .75rem;
    color: @subtleGray;
    max-width: 800px;
    margin-bottom: .25rem;
  }

  .glyphicon {
    color: @mediumBlue;
    font-size: 1.25rem;
  }

  input {
    margin-right: 0.5rem;
  }

  .small-heading {
    font-size: .875rem;
    font-weight: bold;
    line-height: 1rem;
    color: @darkBlue;
  }

  .profile-edit-container {
    margin-bottom: 2rem;
  }

  #dblp-import-modal {
    .modal-body {
      min-height: 200px;
      max-height: 600px;
      overflow-y: auto;
    }
    .publication-title {
      color: @darkBlue;
      font-weight: bold;
      .venue{
        font-weight: lighter;
        font-size: smaller;
        font-style: italic;
        margin-left: .25rem;
      }
    }
    .existing-publication-row {
      background-color: @backgroundGray;
      opacity: .5;
    }
    .existing-different-profile-row{
      opacity: .5;
    }
    .different-profile-link{
      color: grey;
    }
    .persistent-url-input {
      margin-top: .25rem;
      margin-bottom: 1rem;
    }
    .body-message {
      img {
        height: 16px;
        width: 16px;
        padding: 2px;
      }
      ol {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
    .saving-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(250, 250, 250, .65);
    }
  }

  .gender-dropdown{
    margin-top: 5px;
    margin-bottom: 5px;
    &__control{
      width: 500px;
      background-color: #fffaf4;
      border: 2px solid lighten(@mediumBlue, 10%);
      padding: 0 0.75rem;
    }
    &__value-container {
      padding: 0;
    }
    &__menu{
      width: 500px;
    }

    > div {
      cursor: pointer;
      color: @subtleGray;
      padding: 0.25rem .75rem;
    }
    .active {
      background-color: @mediumBlue;
      color: #fff;
      outline: 0px solid transparent;
    }
  }

  .names {
    .small-heading {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 5px;
    }
    &__value {
      padding-left: 0;
      padding-right:5px;
      margin-bottom: 5px;
      input {
        text-overflow: ellipsis;
      }
    }
    &__tilde-id {
      color: @subtleGray;
      font-size: .75rem;
      margin-right: .5rem;
      margin-top: .5rem;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }

  .emails {
    &__value {
      padding-left: 0;
      padding-right:5px;
      margin-bottom: 5px;
      input {
        text-overflow: ellipsis;
      }
    }
    &__preferred-text {
      white-space: nowrap;
      margin-top: .5rem;
    }
    &__confirmed-text {
      margin-top: .5rem;
    }
    .btn {
      padding-right: .5rem;
    }
  }

  .personal-links {
    &__input {
      width: 420px;
    }
    &__column {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 10px;
      width: auto;
    }
    &__faqlink {
      padding-left: .25rem;
      span {
        font-size: .85rem;
      }
    }
    &__adddblpbtn {
      margin-top: .875rem;
    }
  }

  .history {
    .small-heading {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 5px;
    }
    &__value {
      padding-left: 0;
      padding-right:5px;
      margin-bottom: 5px;
      input {
        text-overflow: ellipsis;
      }
    }
    .glyphicon-minus-sign {
      margin-top: .5rem;
      top:0
    }
  }

  .position-dropdown, .institution-dropdown , .relation-dropdown{
    margin-top: 5px;
    margin-bottom: 5px;
    &__control {
      background-color: #fffaf4;
      border: 2px solid lighten(@mediumBlue, 10%);
      padding: 0, 0.75rem;
    }

    > div {
      cursor: pointer;
      color: @subtleGray;
      padding: 0.25rem .75rem;
    }
    .active {
      background-color: @mediumBlue;
      color: #fff;
      outline: 0px solid transparent;
    }

    &__placeholder {
      white-space: nowrap;
    }
  }

  .relation{
    &__value{
      padding-left: 0;
      padding-right:5px;
      margin-bottom: 5px;
    }
    &__visibility-dropdown {
      width: 100%;
      margin-top:0!important;
    }
    &__visibility-button {
      // padding:0;
      width: 100%;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }

  .expertise {
    .small-heading {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 5px;
    }
    &__value {
      padding-left: 0;
      padding-right:5px;
      margin-bottom: 5px;
    }
    .glyphicon-minus-sign {
      margin-top: .5rem;
      top:0
    }
  }

  span.mirror {
    transform: scale(-1,1);
    margin-left: .25rem;
    cursor: pointer!important;
    pointer-events: all;
  }

  div.unlinked-publication {
    opacity: 0.5;
    pointer-events: none;
  }

  .submit-button{
    margin-right: .25rem;
    .spinner-small{
      width: 40px;
    }
  }
}
