@import "../utils/constants";
@import "../utils/mixins";

main.revisions {

  header {
    .clearfix;

    h1 {
      font-weight: normal;
      float: left;
      margin-top: .25rem;
    }
    .button-container {
      margin-top: .5rem;
      float: right;
    }
    .btn-default {
      margin-left: .5rem;
    }
  }

  .references-list {
    margin-top: .5rem;

    .row .checkbox {
      width: 30px;
      margin-top: 0;
      margin-bottom: 0;

      input[type="checkbox"] {
        width: 16px;
        height: 16px;
      }
    }

    .note {
      padding-top: 0;
      padding-bottom: 1rem;
      h4 {
        font-size: 1.25rem;
        line-height: 1.375rem;
        margin-bottom: .125rem;
        a {
          color: @darkBlue;
        }
        img {
          width: 1.375rem;
          height: 1.375rem;
        }
      }
      .note-authors {
        font-size: .875rem;
        font-style: italic;
        margin-bottom: .125rem;
      }
      .note-meta-info {
        margin-bottom: .125rem;
      }
    }
    .note-content li {
      padding-left: 0;
    }

    &.hide-sidebar {
      .row .checkbox {
        display: none;
      }
      .alert-warning {
        display: none;
      }
    }
  }

  .alert-danger {
    margin-top: 1rem;
  }

  .alert-warning {
    .well;
    padding: .75rem;
    margin-bottom: 1.25rem;
  }

  h2.note_content_title {
    font-size: 1.25rem;
    margin-bottom: 0;

    .note_content_pdf {
      margin-left: 1rem;

      img {
        width: 1.375rem;
        height: 1.375rem;
        margin-top: -.5rem;
      }
    }
  }

  .meta_row {
    &.pull-left {
      max-width: none;
    }
    .signatures, .author {
      font-size: .875rem;
      font-style: italic;
    }
  }

}
