@use '../utils/constants';

main.sign-up {
  h1 {
    margin-bottom: 1rem;
  }
  hr.spacer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #first-input {
    max-width: 510px;
  }

  .signup-form-container {
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    .row {
      margin-left: -5px;
      margin-right: -5px;
    }
    .form-group {
      padding-left: 5px;
      padding-right: 5px;

      @media #{constants.$tablet} {
        margin-bottom: 0;
      }
    }
    .name-confirmation {
      color: #333;
    }
    label {
      color: constants.$orRed;
    }
    .help-block {
      font-size: 0.75rem;
      margin-bottom: 0;
    }
    .form-inline {
      margin-top: 0.5rem;
      overflow: hidden;

      input {
        width: 320px;
        max-width: 100%;
        margin-right: 10px;
      }
      button {
        width: 180px;
        margin-right: 10px;
      }
      .new-username {
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 520px);

        a {
          color: constants.$subtleGray;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      .email-row,
      .password-row,
      .claim-button-row {
        padding-top: 0.5rem;
        white-space: nowrap;
      }

      .activation-message-row {
        margin-top: 0.25rem;
        font-size: 0.75rem;
        color: constants.$orRed;

        .email-tooltip {
          margin-right: 0.25rem;
        }
      }

      .submissions-list {
        margin-top: -0.5rem;
      }
      .password-tooltip {
        color: constants.$mediumBlue;
      }

      @media #{constants.$phone-only} {
        input {
          display: block;
          width: 100%;
          max-width: 510px;
          margin-bottom: 15px;
          margin-right: 0;
        }
      }
    }
    .existing-profiles-title {
      margin-top: 2rem;
      margin-bottom: -1.5rem;
      color: constants.$orRed;
      font-size: 0.875rem;
      font-weight: 700;
    }

    .new-profile-title {
      color: constants.$orRed;
      font-size: 0.875rem;
      font-weight: 700;
    }
  }

  .confirm-message {
    margin-bottom: 1.5rem;
    span.email {
      font-weight: bold;
      color: constants.$mediumBlue;
    }
    strong {
      color: constants.$orRed;
    }
  }

  .merge-message {
    margin-top: 1rem;
  }

  #confirm-name-modal {
    label {
      color: #333;
    }
  }
}
