@import "../utils/constants";

main.sponsors {
  h1 {
    margin-bottom: 1rem;
  }
  .sponsors-container {
    h2 {
      border-bottom: 1px solid #ccc;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      font-size: 1.75rem;
      font-weight: bold;
      color: @orRed;
    }
    img {
      padding-bottom: .5rem;
      max-width: 100%;
    }
    .row {
      margin-bottom: 2rem;
    }
  }
}
