<div class="panel">
  {{#if options.largeLabel}}
    <strong class="item hint">Add:</strong>
  {{else}}
    <span class="item hint">Add:</span>
  {{/if}}
  <button class="btn">{{prettyId invitationId}}</button>
</div>
