.actionbutton {
  min-width: 82px;
}

.truncatedtext {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profilenamelink {
  @extend .truncatedtext;
  display: block;
}

.searchinput {
  flex: 5 1 200px;
}

.statefilter {
  flex: 2 1 150px;
}

