<ul class="list-unstyled submissions-list activity-list">
  {{#each notes}}
    <li class="note note-activity {{#if details.isDeleted}}trashed{{/if}}" data-id="{{id}}">
      {{> noteActivityV2 options=../activityOptions}}
    </li>
  {{else}}
    <li><p class="empty-message">{{activityOptions.emptyMessage}}</p></li>
  {{/each}}
</ul>
