<ul class="list-unstyled submissions-list">
  {{#each notes}}
    <li class="note {{#if metadata.conflict}}has-conflict{{/if}}" data-id="{{id}}" data-number="{{number}}">
      {{> noteBasic options=../options}}
    </li>
  {{else}}
    <li><p class="empty-message">{{options.emptyMessage}}</p></li>
  {{/each}}
</ul>
