@use '../styles/utils/constants';

.sitemap {
  padding: 12px 15px;
  background-color: constants.$sandyBrown;
}

.sitemapRow {
  width: 100%;
  max-width: 750px;
  text-align: center;
}

.sponsor {
  padding: 12px 15px;
  background-color: constants.$darkBlue;
}

.sponsorText {
  color: #a3a3a3;
  font-size: 0.75rem;
  margin-bottom: 0;
  text-align: center;
  max-width: 75%;
}

.sponsorLink {
  color: #a3a3a3;
  text-decoration: underline;

  &:hover {
    color: constants.$sandyBrown;
  }
}
