@use '../utils/constants';

// OpenReview Banner
.banner {
  background: constants.$backgroundGray;
  padding: 0.5rem 0 0.375rem 0;
  color: constants.$subtleGray;
  font-size: 0.875rem;
  line-height: 1.5rem;
  border-bottom: 1px solid #d0d0d0;

  &.banner-error {
    color: #613400;
    background-color: #fffbe6;
    border-bottom-color: constants.$backgroundGray;
  }

  .row > div {
    overflow: hidden;

    .btn-xs {
      display: inline-block;
      font-weight: normal;
      text-shadow: none;
      vertical-align: bottom;
      border-width: 2px;
      padding-top: 1px;
      padding-bottom: 1px;
      margin-left: 0.5rem;
    }

    img {
      height: 12px;
      padding-right: 6px;
      top: -1px;
      position: relative;

      @media #{constants.$phone-only} {
        top: -2px;
      }
    }
  }

  a {
    text-shadow: 0 1px 0 #eee;

    @media #{constants.$phone-only} {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
    }
  }

  span.glyphicon {
    top: 1px;
    padding-right: 0.5rem;
  }

  ol.breadcrumb {
    background: transparent;
    margin: 0;
    padding: 0;
  }
}

.donate-link {
  font-weight: bold;
  display: inline-block !important;
  vertical-align: bottom;
}
