@use '../utils/constants';
@use '../utils/mixins';
@use 'sass:color';

$gray1: #f7f6f4;
$gray2: #f0f0f0;

.container {
  margin-bottom: 0.5rem;
  border-radius: 2px;
  background-color: constants.$backgroundWhite;
  position: relative;

  :global {
    .chat-body {
      padding: 0.5rem;
      border: 1px solid constants.$borderGray;
      border-radius: 2px;

      &.deleted {
        background-color: #eee;
        & > div {
          opacity: 0.5;
        }
      }
    }

    .parent-info {
      h5 {
        margin-top: 0;
        margin-bottom: 0.375rem;
        font-size: 0.75rem;
        color: constants.$subtleGray;
        cursor: pointer;
        span {
          color: constants.$orRed;
          font-weight: bold;
        }
      }
    }

    .header {
      position: relative;
      margin-bottom: 0.25rem;
      span.indicator {
        position: absolute;
        width: 0.875rem;
        height: 0.875rem;
        left: 0;
        top: 3px;
        border-radius: 50%;
        box-sizing: border-box;
        content: ' ';
      }
      strong {
        font-size: 1rem;
        line-height: 1rem;
        padding-left: 1.25rem;
      }
      .members-list {
        font-size: 0.75rem;
        padding-left: 0.5rem;
        color: constants.$subtleGray;
        font-weight: normal;
      }
      .glyphicon {
        margin-right: 0.25rem;
      }
      .tooltip .tooltip-inner {
        max-width: 250px;
      }
      small {
        color: constants.$subtleGray;
        padding-left: 0.75rem;
      }
    }

    .highlight {
      background-color: constants.$mediumBlue;
      color: #fff;
      padding: 0 4px;
      border-radius: 2px;
      font-size: 0.75rem;
      vertical-align: 1px;
      margin-left: 0.75rem;
    }
    .highlight + .highlight,
    .tooltip + .highlight {
      margin-left: 0.25rem;
    }
    .edit-indicator {
      color: constants.$subtleGray;
      background-color: transparent;
    }

    .note-content {
      font-size: 0.875rem;
      margin: 0;
      // margin-bottom: .25rem;
      & > div + div {
        margin-top: 0.25rem;
      }
    }
    .note-content-value {
      line-height: normal;

      mjx-container[jax='CHTML'][display='true'] {
        margin-top: 0;
        margin-bottom: 0.5rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .note-content-value.markdown-rendered {
      @include mixins.markdown-content-styles;
      ol > li,
      ul > li {
        padding-bottom: 0.25rem;
      }
      line-height: normal;
      p:last-child,
      ul:last-child,
      ol:last-child {
        margin-bottom: 0;
      }
    }

    .chat-reactions {
      margin-top: 0.5rem;
      margin-left: 0;
      margin-bottom: 0;

      li {
        padding-left: 0;
      }
      button {
        border-width: 1px;
        padding: 1px 0.5rem;
        border-color: constants.$mediumBlue;
        background-color: $gray1;
        &:hover {
          color: constants.$mediumDarkBlue;
          border-color: constants.$mediumDarkBlue;
          background-color: $gray2;
          opacity: 1;
        }
        &.selected {
          background-color: color.adjust(constants.$mediumDarkBlue, $lightness: 56%);
          border-color: constants.$mediumDarkBlue;
        }
        span {
          padding-right: 0.125rem;
          font-size: 12px;
        }
      }
      .add-reaction {
        border-color: constants.$subtleGray;
        color: constants.$subtleGray;
        opacity: 0.75;
        svg {
          position: relative;
          display: inline-block;
          line-height: 1;
          top: 2.5px;
          width: 14px;
          height: 14px;
          margin-top: -2px;
          padding: 0;
          fill: constants.$subtleGray;
        }
        &:hover svg,
        &:active svg {
          fill: constants.$mediumBlue;
        }
      }
    }
  }
}
.container:hover > .chat-actions {
  display: block;
}

.active {
  box-shadow: 0 0 0 2px constants.$mediumBlue;
  :global {
    .chat-body {
      border-color: transparent;
    }
  }
}

.chat-actions {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 90;
  display: none;

  :global {
    button {
      padding: 0.25rem 0.75rem;
      border: 1px solid constants.$borderGray;
      border-radius: 0;
      font-weight: normal;
      line-height: 1.125rem;
      &:focus {
        border-color: constants.$borderGray;
        background-color: constants.$backgroundWhite;
        box-shadow: none;
      }
      &:hover,
      &:active {
        color: #fff;
        background-color: constants.$mediumDarkBlue;
        border-color: constants.$mediumDarkBlue;
      }
      span {
        padding-right: 0.125rem;
      }
    }
    .btn-add-reaction {
      svg {
        position: relative;
        display: inline-block;
        line-height: 1;
        top: 2.5px;
        width: 1rem;
        height: 1rem;
        margin-top: -2px;
        padding: 0 0.125rem 0 0;
        fill: constants.$mediumBlue;
      }
      &:hover svg,
      &:active svg {
        fill: #fff;
      }
    }
    .btn-group > .btn:first-child {
      border-bottom-left-radius: 2px;
    }
    .btn-group > .btn:last-child {
      border-top-right-radius: 2px;
    }
  }
}

.reaction-picker-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 225, 225, 0.6);
  z-index: 100;
}
.reaction-picker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the grid container */
  display: flex;
  flex-wrap: wrap;
  max-width: 371px;
  margin: 0 auto; /* Center the grid horizontally */
  z-index: 101;

  :global {
    .grid-item {
      border: 1px solid constants.$lightGray;
    }
    .grid-item + .grid-item {
      border-left: 0;
    }
    .grid-item:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      button {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
    .grid-item:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      button {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
    button {
      padding: 8px 10px;
      // border-width: 1px;
      // border-color: constants.$mediumBlue;
      border-radius: 0;
      border: 0;
      background-color: $gray1;
      font-size: 1rem;
      width: 36px;
      line-height: 20px;
      &:hover {
        color: constants.$mediumDarkBlue;
        border-color: constants.$mediumDarkBlue;
        background-color: $gray2;
        opacity: 1;
      }
      span {
        padding-right: 0.125rem;
      }
    }
  }
}
