.checkboxContainer {
  max-width: 80%;
}

.checkboxOptionRow {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.25rem;
}

.optionDescription {
  margin-left: 0.25rem;
  font-weight: normal;
}
