@use '../utils/constants';

.checkboxContainer {
  max-width: 100%;
  @media #{constants.$large} {
    max-width: 80%;
  }

  .checkboxItem {
    position: relative;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    label {
      min-height: 20px;
      padding-left: 20px;
      margin-bottom: 0;
      font-weight: normal;
      cursor: pointer;
      display: inline-block;
      max-width: 100%;
    }

    input[type='checkbox'] {
      position: absolute;
      margin: 4px 0 0;
      margin-left: -20px;
    }

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
