@use '../utils/constants';

.checkboxContainer {
  max-width: 80%;
  @media #{constants.$phone-only} {
    max-width: 100%;
  }
}

.checkboxOptionRow {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.25rem;
}

.optionDescription {
  margin-left: 0.25rem;
  font-weight: normal;
}
