@use '../utils/constants';

.codeEditorContainer {
  max-width: 100%;
  @media #{constants.$large} {
    max-width: 80%;
  }
  background-color: #fffaf4;
  border: 2px solid #659aae;
  min-height: 200px;

  &.invalidValue {
    border-color: constants.$orRed;
  }
}
