@use '../utils/constants';

#content .dropdown-select {
  &__value-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  &__menu {
    background-color: #fff;
  }
  &__option {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  &__control {
    border-width: 2px;
    border-color: lighten(constants.$mediumBlue, 10%);
    &:hover {
      border-color: lighten(constants.$mediumBlue, 10%);
    }
    &--is-focused {
      border-color: constants.$mediumDarkBlue;
      border-width: 2px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      &:hover {
        border-color: constants.$mediumDarkBlue;
      }
    }
  }
  &__single-value {
    color: #555;
  }
  .item {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    line-height: 25px;
    position: relative;

    &:hover {
      background: rgba(55, 11, 7, 0.1); // orRed
    }
  }
}

.form-group .dropdown-select {
  display: inline-block;
  vertical-align: middle;
}

.dropdown-sm .dropdown-select {
  &__control,
  &__value-container {
    min-height: unset;
    max-height: 30px;
    line-height: 1.5;
    font-size: 0.75rem;
  }
  &__indicators,
  &__option {
    height: 28px;
  }
}

.message-button .dropdown-select {
  &__control {
    background-color: constants.$mediumBlue;
    border: none;
  }
  &__placeholder {
    color: white;
  }
  &__indicator &__dropdown-indicator {
    color: white;
  }
}
