@use '../utils/constants';

.editorComponent {
  margin-top: 1em;
}

.inline {
  display: inline-block;
  margin-right: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  color: constants.$orRed;
}

.description {
  font-size: 0.75rem;
  color: constants.$subtleGray;
  font-weight: normal;
  margin-bottom: 0.25rem;
  max-width: 80%;
}

.scrollDescription {
  display: block;
  width: 100%;
  background-color: #eee;
  font-size: 0.875rem;
  padding: 0.375rem 0.75rem;
  border: 2px solid lighten(constants.$mediumBlue, 10%);
  border-radius: 0;
  height: auto;
  resize: vertical;
}
