@use '../utils/constants';

.editorComponent {
  margin-bottom: 1em;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  color: constants.$orRed;

  .requiredField {
    font-weight: normal;
    vertical-align: sub;
  }
}

.description {
  font-size: 0.75rem;
  color: constants.$subtleGray;
  font-weight: normal;
  margin-bottom: 0.25rem;
  max-width: 80%;
}

.scrollDescription {
  display: block;
  width: 100%;
  background-color: #eee;
  font-size: 0.875rem;
  padding: 0.375rem 0.75rem;
  border: 2px solid lighten(constants.$mediumBlue, 10%);
  border-radius: 0;
  height: auto;
  resize: vertical;
}

.inline {
  display: flex;
  align-items: baseline;

  .title {
    width: 20%;
  }
}

.error {
  color: constants.$orRed;

  .errorMessage {
    margin-left: 0.25rem;
  }
}
