@use '../utils/constants';

.fileUpload {
  max-width: 80%;
  @media #{constants.$phone-only} {
    max-width: 100%;
  }
  margin-top: 1rem;
  :global {
    .title {
      font-size: 1rem;
      font-weight: bold;
      color: constants.$orRed;
    }

    .description {
      font-size: 0.75rem;
      color: constants.$subtleGray;
      font-weight: normal;

      .scroll-description {
        display: block;
        width: 100%;
        background-color: #eee;
        font-size: 0.875rem;
        padding: 0.375rem 0.75rem;
        border: 2px solid lighten(constants.$mediumBlue, 10%);
        border-radius: 0;
        height: auto;
        resize: vertical;
      }
    }

    .content {
      display: flex;
      .file-input {
        height: 36px;
        width: 100%;
        font-size: 0.875rem;
        padding: 0.375rem 0.75rem;
        background-color: #fffaf4;
        border: 2px solid lighten(constants.$mediumBlue, 10%);
        border-radius: 0;
      }

      .clear-btn {
        margin-left: -2px;
        margin-right: 0;
        min-width: auto;
        height: 36px;
        border-color: lighten(constants.$mediumBlue, 10%);
        border-radius: 0;
      }
    }
  }
}
