@use '../utils/constants';

.fileUploadContainer {
  max-width: 80%;
  :global {
    input[type='file'] {
      display: none;
    }

    .progress {
      border-radius: 0;
      margin-bottom: 0.5rem;
      margin-top: 0.25rem;

      .progress-bar {
        background-color: constants.$orRed;
      }
    }

    .btn-xs {
      margin-left: 0.25rem;
    }
  }
}

.selectFileButton {
  display: block;
  margin-bottom: 0.25rem;

  &.invalidValue {
    border-color: red;
    background-color: red;
  }
}

.fileUrl {
  font-size: 0.75rem;
}
