@use '../utils/constants';

.forum-note {
  // &.editable:hover {
  //   background-color: rgba(0, 0, 0, .04);
  //   box-shadow: 0 0 1px 4px rgba(0, 0, 0, .04);
  // }

  .forum-title {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 2.125rem;
      font-weight: bold;
      line-height: 2.5rem;
      letter-spacing: -0.5px;
      padding-right: 0.5rem;
      margin: 0;
      margin-right: auto;

      @media #{constants.$phone-only} {
        font-size: 1.75rem;
      }
    }
    .forum-content-link {
      margin-left: 0.5rem;

      a {
        display: inline-block;
      }
      img {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  .forum-authors {
    h3 {
      font-size: 1.25rem;
      font-style: italic;
      line-height: 1.5rem;
      margin: 0;
      a {
        color: constants.$darkBlue;
        display: inline-block;
      }
      a.show-all {
        color: constants.$subtleGray;
      }
      .private-contents-icon {
        font-size: 1rem;
        color: constants.$subtleGray;
        padding-left: 0.25rem;
      }
    }
  }

  .forum-meta {
    float: left;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;

    .item {
      display: inline-flex;
      font-size: 0.75rem;
      color: constants.$subtleGray;
      padding-right: 1rem;
      margin: 0;
    }
    .glyphicon {
      font-size: 0.875rem;
      padding-right: 0.375rem;
    }
    .private-author-label {
      font-size: 0.875rem;
      font-style: italic;
      margin-right: 0.875rem;
      line-height: normal;
      color: constants.$subtleGray;
    }
  }

  .invitation-buttons {
    float: right;
    text-align: right;
    > span {
      line-height: 26px;
    }
    button {
      margin-left: 0.375rem;
      .glyphicon {
        padding-right: 2px;
      }
    }
    li.expired {
      background-color: rgba(0, 0, 0, 0.05);
      text-decoration: line-through;
      > a {
        color: gray;
      }
    }
  }

  ul.note-content {
    margin-top: 0;
    margin-bottom: 0.5rem;
    & > li {
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .private-contents {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 0.25rem 0.5rem;
    margin: 0.25rem -0.5rem;
    border-radius: 0;

    hr {
      margin-bottom: 0.125rem;
    }
    .signatures {
      font-size: 0.875rem;
    }
  }

  .note-tags-toggle {
    font-size: 0.75rem;
    font-weight: bold;
  }

  .revision-invitations-container {
    margin-top: 0.375rem;
  }
}
