@use '../utils/constants';
@use '../utils/mixins';

table.messages-table {
  border-bottom: 1px solid #ddd;
  margin-bottom: 2rem;

  .email-to {
    color: black;
  }
  .email-sent {
    color: darken(constants.$subtleGray, 50%);
  }
  .email-parent {
    color: constants.$subtleGray;
    text-align: center;
  }
  .email-title {
    padding: 0.375rem 0;
  }
  .email-content {
    position: relative;
    cursor: pointer;

    &.collapsed {
      max-height: 150px;
      overflow: hidden;

      .gradient-overlay {
        display: block;
        position: absolute;
        left: 0;
        top: 110px;
        height: 40px;
        width: 100%;
        background-image: linear-gradient(
          to bottom,
          transparent 0%,
          constants.$backgroundWhite 100%
        );
        content: '';
      }
    }
    &:focus {
      outline: none;
    }
    .markdown-rendered {
      @include mixins.markdown-content-styles;
      p {
        white-space: pre-wrap;
      }
    }
  }
  .status {
    position: relative;
    padding-left: 1.25rem;
    display: inline-block;

    &::before {
      position: absolute;
      width: 0.875rem;
      height: 0.875rem;
      left: 0;
      top: 3px;
      border-radius: 50%;
      box-sizing: border-box;
      content: ' ';
    }
    &.delivered::before {
      background-color: green;
    }
    &.not-delivered::before {
      background-color: red;
    }
  }
  .empty-message {
    color: constants.$subtleGray;
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
