@use '../utils/constants';

nav.navbar {
  background-color: constants.$orRed;
  border-color: constants.$orRedDark;
  z-index: 1031;
  margin-bottom: 0;

  .navbar-brand {
    font-size: 1.375rem;

    strong {
      color: #fff;
    }
    img {
      max-height: 100%;
    }

    @media #{constants.$phone-only} {
      font-size: 20px;
    }
  }
  .navbar-nav {
    > li > a {
      color: #fff;

      &:hover {
        background-color: constants.$orRedDark;
        cursor: pointer;
      }
      .badge {
        min-width: 20px;
        line-height: 12px;
        margin-top: -3px;
        margin-left: 4px;
      }
    }

    @media #{constants.$desktop-only} {
      > li > a {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
    @media #{constants.$phone-only} {
      margin-top: 7px;

      > li > a {
        font-size: 1rem;
      }
    }
  }

  #user-menu .dropdown-toggle {
    display: block;
    text-overflow: ellipsis;
    max-width: 295px;
    white-space: nowrap;
    overflow: hidden;

    @media #{constants.$phone-only} {
      max-width: 100%;
    }
  }

  .dropdown-menu {
    border-radius: 0;

    .divider {
      margin: 5px 0;
    }
    > li > a {
      padding: 4px 20px;
      color: constants.$darkBlue;

      &:focus,
      &:hover {
        background-color: constants.$backgroundGray;
      }

      .badge {
        min-width: 20px;
        line-height: 12px;
        margin-top: -3px;
        margin-left: 6px;
      }
    }
  }

  .profile-search {
    @media #{constants.$tablet} {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    input {
      background-color: #ddd;
      width: 380px;
      height: 30px;
      border: 1px solid #ccc;
      border-radius: 0;
      padding-top: 4px;
      padding-bottom: 4px;
      transition:
        background-color 0.5s linear,
        box-shadow 0.4s 0.2s ease;

      @media #{constants.$desktop-only} {
        width: 250px;
      }
      @media #{constants.$tablet-only} {
        width: 250px;
      }
      @media #{constants.$phone-only} {
        width: 100%;
      }
    }
    input:focus {
      background-color: #fff;
    }
    .form-control-feedback {
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #777;
    }
  }
}

.navbar-inverse {
  .navbar-nav > .open > a,
  .navbar-nav > .open > a:focus,
  .navbar-nav > .open > a:hover {
    background-color: constants.$darkBlue;
  }
  @media #{constants.$phone-only} {
    .navbar-nav .open .dropdown-menu > li > a {
      color: #fff;
    }
  }

  .navbar-brand:hover {
    color: constants.$mediumBlue;
    text-shadow: 0px 1px 0px constants.$darkBlue;

    strong {
      color: constants.$mediumBlue;
    }
  }
  .navbar-brand:focus {
    color: #9d9d9d;

    strong {
      color: #fff;
    }
  }

  .navbar-toggle {
    background-color: constants.$mediumDarkBlue;
    border-color: constants.$orRedDark;
    border-radius: 2px;

    &:focus,
    &:hover {
      background-color: constants.$darkBlue;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: constants.$darkBlue;
  }
  .navbar-form {
    border-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
  }

  @media #{constants.$phone-only} {
    .navbar-form .form-group {
      margin-bottom: 0;
    }
  }
}

// OpenReview Banner
.banner {
  background: constants.$backgroundGray;
  padding: 0.5rem 0 0.375rem 0;
  color: constants.$subtleGray;
  font-size: 0.875rem;
  line-height: 1.5rem;
  border-bottom: 1px solid #d0d0d0;

  .row > div {
    overflow: hidden;

    .btn-xs {
      display: inline-block;
      font-weight: normal;
      text-shadow: none;
      vertical-align: bottom;
      border-width: 2px;
      padding-top: 1px;
      padding-bottom: 1px;
      margin-left: 0.5rem;
    }

    img {
      height: 12px;
      padding-right: 6px;
      top: -1px;
      position: relative;

      @media #{constants.$phone-only} {
        top: -2px;
      }
    }
  }

  a {
    text-shadow: 0 1px 0 #eee;

    @media #{constants.$phone-only} {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
    }
  }

  span.glyphicon {
    top: 1px;
    padding-right: 0.5rem;
  }

  ol.breadcrumb {
    background: transparent;
    margin: 0;
    padding: 0;
  }
}
