@use '../utils/constants';
@use '../utils/mixins';

.note-content {
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;

  li {
    padding: 0.125rem 0;
  }

  strong {
    font-weight: bold;
    color: constants.$orRed;
    padding-right: 0.25rem;
  }

  .note-content-value {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    &.markdown-rendered {
      @include mixins.markdown-content-styles;
    }
  }

  .private-contents-icon {
    color: constants.$subtleGray;
    padding-right: 0.25rem;
  }

  .attachment-download-link {
    .glyphicon {
      padding-right: 0.25rem;
    }
  }
}
