@use '../utils/constants';

.noteEditor {
  display: flex;
  flex-direction: column;

  background: rgba(0, 0, 0, 0.04);
  padding: 0.5rem;
  margin-bottom: 1.875rem;

  :global {
    .dropdown-select {
      width: 500px;
      &__indicators {
        display: none;
      }
      @media #{constants.$phone-only} {
        width: 100%;
      }
    }
  }
}

.title {
  margin: 0;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: normal;
}

.requiredField {
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  color: constants.$orRed;
}

.responseButtons {
  display: flex;
  margin-top: 1rem;
}

.submitButton {
  margin-right: 0.25rem;
}

.editReaderSignature {
  background: rgba(0, 0, 0, 0.08);
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;

  h2 {
    font-size: 1rem;
    line-height: normal;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

.invalidValue {
  border-color: constants.$orRed;
}
