@use '../utils/constants';

.profileSearch {
  width: 80%;
  :global {
  }
}

.selectedAuthors {
  display: flex;

  .selectedAuthor {
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    margin-right: 0.5rem;
    padding: 0.25rem 0.15rem 0.25rem 0.5rem;

    .authorName > .authorNameLink {
      font-style: italic;
      color: constants.$darkBlue;
      font-size: 1rem;
      margin-right: 0.25rem;
    }
    .actionButtons {
      display: flex;
      flex-direction: column;
      margin-right: 0.5rem;

      button {
        padding: 1px 5px;
        margin-bottom: 0.1rem;
        border: none;
      }
    }
  }
  .authorSeparator {
    margin-right: 0.5rem;
    align-self: end;
    font-size: 1rem;
  }
}

.searchForm {
  display: flex;
  margin-bottom: 0.25rem;

  button {
    margin-left: 0.25rem;
  }
}

.noMatchingProfile {
  display: flex;
  flex-direction: column;
  align-items: center;

  .noMatchingProfileMessage {
    margin-bottom: 0.5rem;
  }

  .customAuthorForm {
    display: flex;
    width: 100%;

    .enterAuthorButton {
      width: fit-content;
    }

    label {
      white-space: nowrap;
      margin-right: 0.25rem;
      align-self: center;
    }

    input {
      margin-right: 0.25rem;
    }
  }
}

.searchResultRow {
  display: flex;
  margin-bottom: 0.25rem;

  .basicInfo {
    display: flex;
    flex: 3 1;
    flex-direction: column;

    .authorFullName {
      font-style: italic;
      .nameSegment {
        color: black;
      }
      .idSegment {
        color: constants.$lightGray;
      }
    }

    .authorTitle {
      font-size: 0.75rem;
      color: constants.$subtleGray;
    }
  }

  .authorEmails {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    align-self: center;
    font-size: 0.75rem;
  }

  .addButton {
    height: fit-content;
    align-self: center;
    margin-left: 0.25rem;
  }
}
