@use '../utils/constants';

.profileTagContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: 5px;
  border: 1px solid constants.$subtleGray;
  background-color: constants.$backgroundWhite;
  margin-right: 0.5rem;
  margin-top: 0.25rem;

  &:hover {
    :global(.highlight) {
      text-decoration: underline;
    }
  }

  &.deletable,
  &.withTagLink {
    cursor: pointer;
  }

  .readerIcon {
    margin-left: 0.25rem;
    font-size: 0.75rem;
    top: 0;
  }

  .trashButton {
    margin-left: 0.25rem;
    font-size: 0.75rem;
  }
}

.potentialSpam {
  border-color: red;
  background-color: red;
  color: white;
}

.requireVouch {
  border-color: #fa8c16;
  background-color: #fa8c16;
  color: white;
}

.reviewerServiceRole {
  border-color: #a8c6d0;
  background-color: #f0f8fb;
  color: #4d8093;
}

.ethicsReviewerServiceRole {
  border-color: #8db3c2;
  background-color: #e8f2f7;
  color: #3f6978;
}

.metaReviewerServiceRole {
  border-color: #72a0b4;
  background-color: #e0ecf3;
  color: #315461;
}

.seniorMetaReviewerServiceRole {
  border-color: #578da6;
  background-color: #d8e6ef;
  color: #2c3a4a;
}

.ethicsChairServiceRole {
  border-color: #4d8093;
  background-color: #d0e0eb;
  color: #2c3a4a;
}

.publicationChairServiceRole {
  border-color: #3f6978;
  background-color: #c8dae7;
  color: #2c3a4a;
}

.workflowChairServiceRole {
  border-color: #315461;
  background-color: #c0d4e3;
  color: #2c3a4a;
}

.programChairServiceRole {
  border-color: #2c3a4a;
  background-color: #b8cedf;
  color: #2c3a4a;
}
