@use '../utils/constants';

.profilePasswordSecurityContainer {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .sectionHeader {
    display: flex;
    align-items: center;
    cursor: pointer;

    .sectionHeaderText {
      font-size: 1.25rem;
      font-weight: bold;
      margin-left: 0.25rem;
    }
  }

  .sectionContent {
    margin-left: 1rem;
    margin-top: 0.5rem;
    max-width: fit-content;
  }
}
