@use '../utils/constants';

.radioButtonContainer {
  max-width: 80%;
  @media #{constants.$phone-only} {
    max-width: 100%;
  }
}

.radioButtonOptionContainer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.radioButtonOptionText {
  margin-left: 0.25rem;
  vertical-align: top;
  font-weight: normal;
}
