@use '../utils/constants';

.textboxContainer {
  max-width: 80%;
  @media #{constants.$phone-only} {
    max-width: 100%;
  }
}

.textboxInput {
  white-space: pre-wrap;
  font-weight: 400;
}

.invalidValue {
  border-color: constants.$orRed;
}
