@use '../../styles/utils/constants';
.sponsors {
  :global {
    h1 {
      margin-bottom: 1rem;
    }
    .sponsors-container {
      h2 {
        border-bottom: 1px solid #ddd;
        margin-bottom: 2rem;
        padding-bottom: 0.75rem;
        font-size: 1.25rem;
        font-weight: bold;
        color: constants.$orRed;
      }
      & > div {
        display: flex;
        align-items: center;
        margin-bottom: 2.5rem;

        img {
          padding-left: 1rem;
          padding-right: 1rem;
          max-width: 100%;
          max-height: inherit;
        }
        a {
          display: block;
        }
      }
      .width-5,
      .width-4 {
        margin-bottom: 3rem;
      }
      .height-5 a {
        max-height: 200px;
      }
      .width-5 a {
        max-width: 35%;
      }
      .height-4 a {
        max-height: 130px;
      }
      .width-4 a {
        max-width: 28%;
      }
      .height-3 a {
        max-height: 95px;
      }
      .width-3 a {
        max-width: 23%;
      }
      .height-2 a {
        max-height: 90px;
      }
      .width-2 a {
        max-width: 16.66%;
      }
      .height-1 a {
        max-height: 55px;
      }
      .width-1 a {
        max-width: 16.66%;
      }
    }
  }
}
