@use '../../../styles/utils/constants';

.password {
  :global {
    .reset-container {
      margin-bottom: 1rem;

      h1 {
        margin-bottom: 1rem;
      }
      form {
        margin-top: 1rem;
      }
      label {
        color: constants.$orRed;
      }
      button {
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
      }
      .spinner-container {
        margin-top: 3rem;
      }

      @media #{constants.$tablet} {
        input {
          max-width: 320px;
        }
      }
      @media #{constants.$desktop} {
        margin-bottom: 2rem;
        padding: 0 2rem;
      }
    }
  }
}
