// Theme colors
$backgroundWhite: #fffdfa;
$mediumBlue: #4d8093;
$mediumDarkBlue: #3f6978;
$darkBlue: #2c3a4a;
$orRed: #8c1b13;
$orRedDark: #7d1803;
$orRedLight: #ee8a83;
$alertRed: #f2dede;
$sandyBrown: #efece3;
$subtleGray: #777777;
$lightGray: #c6c6c6;
$backgroundGray: #dddddd;
$borderGray: rgba(0, 0, 0, 0.1);

// Media Queries
$xs-min: 0px;
$sm-min: 768px;
$md-min: 992px;
$lg-min: 1200px;

$xs-max: ($sm-min - 1);
$sm-max: ($md-min - 1);
$md-max: ($lg-min - 1);

$phone: unquote('only screen and (min-width: #{$xs-min})');
$phone-only: unquote('only screen and (max-width: #{$xs-max})');
$tablet: unquote('only screen and (min-width: #{$sm-min})');
$tablet-only: unquote('only screen and (min-width: #{$sm-min}) and (max-width: #{$sm-max})');
$desktop: unquote('only screen and (min-width: #{$md-min})');
$desktop-only: unquote('only screen and (min-width: #{$md-min}) and (max-width: #{$md-max})');
$large: unquote('only screen and (min-width: #{$lg-min})');
