@import "constants";

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.well {
  background: @sandyBrown;
  padding: .5rem;
  margin-bottom: 1.875rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}
