.truncatedtext {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.actionbuttoncontent {
  font-weight: normal;
}

.columnheaders {
  @media (max-width: 575px) {
    display: none !important;
  }
}
