.truncatedtext {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.columnheaders {
  @media (max-width: 575px) {
    display: none !important;
  }
}
