@use '../../styles/utils/constants';

.login {
  :global {
    .login-container,
    .signup-container {
      margin-top: 0.5rem;
      margin-bottom: 2rem;

      form {
        margin-top: 1rem;
      }
      label {
        color: constants.$orRed;
      }
      input {
        max-width: 480px;
      }

      @media #{constants.$tablet} {
        input {
          max-width: 326px;
        }
      }
      @media #{constants.$desktop} {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        padding: 0 2rem;
        input {
          max-width: 100%;
        }
      }
    }

    .login-container {
      button {
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
      }
    }

    .signup-container {
      & > div {
        margin-top: 1.5rem;
      }
      a.btn {
        width: 120px;
      }
    }

    #login-mfa-modal {
      display: flex !important;
      align-items: center;
      justify-content: center;

      &:not(.in) {
        pointer-events: none;
      }

      .modal-dialog {
        margin: 0;
        width: auto;
      }

      .modal-content {
        border-radius: 4px;
        padding: 0.5rem;
      }
    }
  }
}

.totpContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: fit-content;

  .rememberDeviceContainer {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;

    label {
      margin-left: 0.5rem;
      margin-bottom: 0;
      color: constants.$darkBlue;
    }
  }
}

.alternativeMethodsContainer {
  display: flex;
  flex-direction: column;
}
