@use '../../styles/utils/constants';

.signupContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;

  label {
    color: constants.$orRed;
  }
}

.fullNameInput,
.emailInput,
.passwordInput,
.repeatPasswordInput {
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.confirmNameCheckbox {
  margin-top: 0.25rem;

  @media (min-width: 769px) {
    width: 70%;
  }

  label {
    display: flex;
    color: #333;
    font-weight: normal;
    align-items: flex-start;
    cursor: pointer;
    gap: 0.5rem;
  }
}

.emailInputContainer {
  margin-top: 1rem;
  width: 100%;
}

.nonInstitutionEmailMessageContainer {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  color: constants.$orRed;

  .emailTooltip {
    margin-right: 0.25rem;
  }
}

.passwordContainer {
  margin-top: 1rem;
  width: 100%;

  .passwordTooltip {
    color: constants.$mediumBlue;
  }
}

.repeatPasswordContainer {
  margin-top: 1rem;
  width: 100%;
}

.signUpButton {
  margin-top: 1.5rem;
}

.donationContainer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f0f8ff;
  border-left: 3px solid #5bc0de;
  border-radius: 4px;

  label {
    color: #333;
  }
}

.successMessage {
  margin-bottom: 1.5rem;

  .successEmail {
    font-weight: bold;
    color: constants.$mediumBlue;
  }
  strong {
    color: constants.$orRed;
  }
}
