@use '../../styles/utils/constants';

.home {
  :global {
    section {
      margin-bottom: 2rem;

      h1 {
        font-size: 1.875rem;
        margin-top: 0.75rem;
        font-weight: bold;
      }
      button.btn-link {
        padding: 0;
        line-height: 1.75rem;
      }
      @media #{constants.$tablet} {
        h1 {
          font-size: 1.625rem;
        }
      }
      @media #{constants.$desktop} {
        margin-bottom: 2.25rem;

        h1 {
          font-size: 1.75rem;
        }
      }
    }

    .conferences {
      margin-top: 1rem;
      margin-bottom: 0.5rem;

      h2 {
        font-size: 1.375rem;
        line-height: normal;
        margin-top: 1rem;
        margin-bottom: 4px;
      }
      p {
        font-size: 0.875rem;
        margin: 0;
      }
      .glyphicon {
        font-size: 12px;
        top: 1px;
        margin-right: 0.25rem;
      }

      @media #{constants.$tablet} {
        h2 {
          font-size: 1.25rem;
          margin-bottom: 0.25rem;
        }
      }
      @media #{constants.$desktop} {
        h2 {
          font-size: 1.5rem;
          margin-top: 0.875rem;
          margin-bottom: 0.125rem;
        }
      }
    }

    #all-venues,
    #all-venues-mobile {
      ul.list-inline {
        margin-left: -0.75rem;
        margin-right: -0.75rem;
        li {
          padding-left: 0.75rem;
          padding-right: 0.75rem;
        }
      }
      h2 {
        font-size: 1.25rem;
        margin-top: 0;
        margin-bottom: 0.75rem;
      }
      .leading-venue {
        display: inline-block;
        &:first-letter {
          color: constants.$orRed;
          font-weight: bold;
        }
      }
    }

    #news {
      background-color: constants.$backgroundGray;
      padding: 0.5rem;
      border-radius: 5px;
    }
  }
}

.newsTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;

  @media #{constants.$phone-only} {
    flex-direction: column;
    align-items: flex-start;
  }

  .newsDate {
    white-space: 'nowrap';
    align-self: 'baseline';
    min-width: fit-content;
  }
}
