// Global styles for Webfield components
// Need to be imported in _app.js so they can be used on any page

@use 'utils/constants';
@use 'utils/mixins';

@import 'components/nav';
@import 'components/footer';
@import 'components/forum-note';
@import 'components/note-content';
@import 'components/forum';
@import 'components/dropdown';
@import 'components/messages-table';
@import 'components/autocomplete-input';
@import 'components/legacy-forum';
@import 'components/legacy-profile-editor';
@import 'components/datetime-picker';

// Tab navigation
.nav-tabs {
  > li {
    white-space: nowrap;
    > a {
      font-weight: bold;
      background: constants.$sandyBrown;
      border-radius: 0;
      border-bottom-color: constants.$backgroundGray;
      margin-right: 4px;
      padding: 0.625rem 1rem;
      cursor: pointer;

      > span.badge {
        margin-left: 0.375rem;
        margin-top: -2px;
      }

      > span.glyphicon {
        margin-left: 0.375rem;
      }
    }

    &.active {
      a,
      a:focus,
      a:hover {
        background: constants.$backgroundWhite;
      }
    }
    &.loading {
      a,
      a:focus,
      a:hover {
        cursor: wait;
        color: constants.$subtleGray;
        background: lighten(constants.$sandyBrown, 3%);
      }
    }
  }
  @media #{constants.$phone-only} {
    padding: 0 8px;

    display: flex;
    align-items: flex-start;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none; // Edge
    overflow: -moz-scrollbars-none; // Firefox
    &::-webkit-scrollbar {
      display: none; // Safari and Chrome
    }
  }
}
.tab-content {
  > .tab-pane {
    padding-top: 0.625rem;
    padding-left: 1rem;

    &.horizontal-scroll {
      overflow-x: visible;
      overflow-y: visible;

      form.search-form,
      .table-container {
        min-width: 940px;
      }
    }
    p.empty-message {
      margin-top: 15px;
      font-style: italic;
    }
    @media #{constants.$phone-only} {
      padding-left: 0;
    }
  }
  .content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: constants.$backgroundWhite;
    opacity: 0.45;
    z-index: 100;
  }
}

// Table
.tab-pane .table-container {
  // Compensate for padding in tabs
  margin-top: -10px;
  margin-left: -16px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
table.table {
  table-layout: fixed;

  tbody {
    font-size: 0.875rem;
  }
  h4 {
    margin-top: 0;
    line-height: normal;
  }
}
table.table-minimal {
  background-color: transparent;

  tbody {
    font-size: 0.75rem;
  }
  tbody > tr > td {
    padding: 2px;
    border-top: 0;
  }
}
.table table.table-minimal {
  background-color: transparent;
}

// Paper Notes List
.submissions-list {
  .note,
  .edit {
    padding: 0.375rem 0;

    h4 {
      font-size: 1.125rem;
      line-height: 1.375rem;
      margin-top: 0;
      margin-bottom: 0.125rem;

      .duedate,
      .completed-date {
        padding-left: 0.5rem;
      }
    }

    .pdf-link,
    .html-link {
      font-size: 0.75rem;
      line-height: 1.125rem;
      margin-left: 1rem;

      img {
        width: 20px;
        height: 20px;
        margin-top: -7px;
      }
      @media #{constants.$phone-only} {
        margin-left: 0.5rem;
        img {
          width: 18px;
          height: 18px;
          margin-top: -5px;
        }
      }
    }

    .unlink-publication,
    .relink-publication {
      top: 3px;
      font-size: 1.125rem;
      padding-left: 0.25rem;
      cursor: pointer;
    }

    .parent-title,
    .note-parent-title {
      color: constants.$subtleGray;
      margin-bottom: 0.125rem;

      .glyphicon {
        font-size: 0.75rem;
        top: 1px;
        padding-right: 4px;
      }
      strong {
        font-size: 0.875rem;
      }
      a {
        color: constants.$subtleGray;
      }
    }

    .note-authors {
      color: constants.$darkBlue;
      margin-bottom: 0.125rem;
      font-style: italic;

      a {
        color: constants.$darkBlue;
      }

      .private-contents-icon {
        font-size: 1rem;
        color: constants.$subtleGray;
        padding-left: 0.25rem;
      }
    }

    .more-authors {
      color: constants.$subtleGray;
    }
    .private-author-label {
      color: constants.$subtleGray;
      font-style: italic;
    }

    .note-contents-collapse {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;

      // Overrides styles defined in legacy.scss
      border-left: 0;
      > ul {
        border-left: 2px solid constants.$backgroundGray;
      }
    }

    .note-contents-toggle,
    .note-tags-toggle {
      font-size: 0.75rem;
    }

    .note-meta-info {
      font-size: 0.75rem;
      line-height: 1.25rem;
      color: constants.$subtleGray;
      margin-bottom: 0.125rem;

      & > li {
        padding-right: 0.75rem;
        &:last-child {
          padding-right: 0;
        }
      }
      & > span {
        padding-right: 0.75rem;
        vertical-align: baseline;
        &:last-child {
          padding-right: 0;
        }
      }
      span.warning-conflict {
        background-color: constants.$orRed;
        padding: 1px 5px;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
      }
      .readers-icon {
        font-size: 0.875rem;
        padding-left: 0.25rem;
        padding-right: 0.125rem;
      }
      .note-actions {
        display: inline-block;
        position: relative;
        top: -1px;

        .btn-xs {
          padding-top: 0;
          padding-bottom: 0;
          border-width: 1px;
        }
      }
    }

    .note-task {
      a {
        font-size: 0.75rem;
        font-weight: bold;
        padding-right: 6px;
      }
    }

    .duedate {
      font-size: 0.75rem;
      font-weight: normal;
      color: constants.$orRed;

      &.warning,
      &.expired {
        padding: 0 4px;
        margin-left: 0.5rem;
        position: relative;
        top: -1px;
      }
      &.warning {
        background-color: constants.$sandyBrown;
        border: 1px solid darken(constants.$sandyBrown, 5%);
      }
      &.expired {
        background-color: constants.$alertRed;
        border-color: #ebccd1;
        border: 1px solid darken(constants.$alertRed, 5%);
      }
    }

    &.invitation-link {
      a {
        font-size: 1.125rem;
        font-weight: bold;
        padding-right: 6px;
      }
    }

    .separator {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .note-content {
    font-size: 0.75rem;
    max-width: 850px;

    strong {
      padding-right: 0.25rem;
      color: constants.$orRed;
    }
    .note-content-value {
      white-space: pre-wrap;
      overflow-x: auto;
      &.markdown-rendered {
        @include mixins.markdown-content-styles;
      }
    }
    li {
      padding-bottom: 0.125rem;
      padding-left: 0.75rem;
    }
    li:last-child {
      padding-bottom: 0;
    }
  }

  p.empty-message {
    margin-top: 15px;
    font-style: italic;
  }

  .bid-container {
    margin-bottom: 0.5rem;
  }
}

.task-list {
  .note {
    &.completed {
      opacity: 0.6;
      background-color: #eee;
      padding: 0.25rem 0.5rem;
      margin: 0.25rem -0.5rem;
    }

    .completed-date {
      font-size: 0.75rem;
      font-weight: normal;
      color: constants.$darkBlue;
    }

    h4 {
      font-size: 1rem;
    }

    .note-meta-info {
      line-height: 1.125rem;
    }

    &.invitation-link a {
      font-size: 1rem;
    }

    .update-required {
      font-size: 0.75rem;
      font-weight: bold;
      vertical-align: text-top;
    }

    .parent-title {
      line-height: normal;
      margin-bottom: 0.125rem;

      .title {
        font-weight: normal;
      }
      .note-authors {
        font-style: normal;
        color: constants.$subtleGray;

        a {
          color: constants.$mediumBlue;
        }
      }
    }
  }
}

.activity-list {
  .note {
    background: rgba(0, 0, 0, 0.04);
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0rem;

    &.trashed {
      opacity: 0.6;
    }

    h4 {
      font-size: 1rem;
      line-height: 1.25rem;
      margin-bottom: 0;
    }

    .note-authors {
      font-style: italic;
    }

    .note-meta-info {
      span {
        padding-right: 0;
        padding-left: 0;
      }
      span.separator {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
      span.readers-icon {
        padding-left: 0;
      }
    }

    div.note-contents-collapse {
      border: 0;
    }
  }

  .note-reply {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    border-left: 3px solid #dddddd;
    padding-left: 1rem;

    .note-contents-collapse > ul {
      border: 0;

      li {
        padding-left: 0;
      }
    }
  }

  .activity-heading {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
    color: constants.$subtleGray;
    overflow: hidden;

    .explanation {
      float: left;
      width: calc(100% - 185px);
      span.sig {
        font-style: italic;
        color: constants.$darkBlue;
      }
      span.readers {
        padding-left: 0.5rem;
      }
      a {
        font-weight: bold;
        color: constants.$subtleGray;
      }
    }
    .date {
      float: right;
      text-align: right;
      width: 185px;
    }
  }

  .activity-title {
    float: left;
    width: calc(100% - 80px);
  }
  .activity-actions {
    float: right;
    text-align: right;
    width: 80px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.venues-list {
  margin-bottom: 1.5rem;

  & > li > a {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.875rem;
  }
}

.profiles-list {
  .bid-container {
    margin-bottom: 0.5rem;
  }
  .profile-summary {
    display: flex;
    flex-direction: column;

    .profile-name > a {
      margin-bottom: 0.25rem;
      // color: constants.$darkBlue;
      font-size: 1rem;
    }
    .profile-title {
      margin-bottom: 0.25rem;
      color: #777777;
    }
    .profile-expertise {
      margin-bottom: 0.5rem;
      width: 80%;
      color: #777777;
    }
  }
}

// Mathjax
.note_content_value,
.note-content-value {
  mjx-container[jax='CHTML'][display='true'] {
    overflow-x: scroll;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 1em;
    }
    mjx-math {
      padding: 1px 0;
    }
  }
}

// Note search form used in notes list component
.notes-search-form {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;

  .form-group {
    margin-right: 1.25rem;
  }

  label {
    margin-right: 0.25rem;
    margin-bottom: 0;
    vertical-align: middle;
  }

  input.form-control {
    width: 350px;
    max-width: 100%;
    margin: 0;
  }

  select {
    width: 300px;
  }

  .dropdown,
  .subjectarea {
    width: 260px;
    .dropdown_content {
      width: 260px;
    }
  }

  @media #{constants.$phone-only} {
    input.form-control {
      width: 100%;
    }
    .form-group {
      margin-right: 0;
      margin-bottom: 8px;
    }
    .dropdown {
      width: 100%;
      .dropdown_content {
        width: 100%;
      }
    }
  }
}
.notes-search-form-compact {
  .form-group {
    margin-right: 1rem;
  }
  input.form-control {
    width: 300px;
  }
  .dropdown {
    width: 280px;
    .dropdown_content {
      width: 280px;
    }
  }
}

// Tag widget
#content .tag-widget {
  margin-bottom: -4px;

  & > label {
    font-size: 0.75rem;
    color: constants.$subtleGray;
    margin-bottom: 0px;
    margin-right: 0.25rem;
  }
  a,
  span {
    font-size: 0.75rem;
  }
  .btn .caret {
    margin-left: 4px;
  }
  .btn-link {
    border-color: transparent;
    font-weight: normal;
    border-radius: 2px;

    &:hover,
    &:focus {
      border-color: constants.$mediumBlue;
      text-decoration: none;
    }
  }
  input {
    padding: 2px 10px;
    font-size: 0.75rem;
    border-width: 1px;
    border-radius: 2px;
    line-height: 18px;
    height: auto;
  }
  .dropdown-menu {
    border-radius: 2px;

    > li > a {
      color: constants.$mediumBlue;
      padding: 3px 16px;

      &:focus,
      &:hover {
        background-color: constants.$mediumDarkBlue;
        color: #fff;
      }
    }
  }
  &.incomplete {
    span.bid-value {
      color: constants.$orRed;
    }
  }

  // Recommend widget
  &[data-type='recommend'] {
    label {
      padding-right: 8px;
    }
    .selected-reviewer {
      color: constants.$subtleGray;
      padding-right: 8px;

      a:hover span {
        color: constants.$mediumBlue;
      }
      .glyphicon {
        margin-left: 3px;
      }
    }
    .show-reviewer-dropdown {
      padding-right: 8px;
    }
    .dropdown-container {
      display: inline-block;
    }
    .dropdown input {
      width: 250px;
    }
    .dropdown_content {
      border-width: 1px;
      border-radius: 2px;
      width: 250px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

      > div {
        font-size: 0.75rem;
        color: constants.$mediumBlue;
        padding: 3px 10px;

        &.active {
          color: #fff;
        }
      }
    }
  }

  // Free text widget
  &[data-type='text'] {
    label {
      padding-right: 5px;
    }
    .current-value {
      color: constants.$subtleGray;
      padding-right: 6px;

      &:empty {
        padding-right: 0;
      }
    }
    input.new-value {
      margin-right: 2px;
    }
  }

  // Radio button widget
  &[data-type='radio'] {
    margin-top: 0px;
    margin-bottom: 4px;

    &.mb-2 {
      margin-bottom: 0.5rem;
    }
    .btn-group-xs {
      margin-left: 2px;

      &.disabled {
        opacity: 0.65;
        pointer-events: none;
        label {
          color: constants.$mediumDarkBlue;
          cursor: not-allowed;
        }
        label.active {
          color: #fff;
        }
        label:hover {
          background-color: transparent;
        }
        label.active:hover {
          background-color: constants.$mediumBlue;
        }
      }
    }
    .btn-group-xs > .btn {
      padding: 1px 8px;
      border-width: 1px;
      font-weight: normal;
      margin-right: 0px;
    }
    .btn-group-xs > .btn:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    .btn-group-xs > .btn:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    .btn-default {
      color: constants.$mediumBlue;

      &.active {
        color: #fff;
        background-color: constants.$mediumBlue;
        border-color: constants.$mediumDarkBlue;
      }
    }
  }

  &.reviewer-console {
    display: flex;
    label {
      margin-right: 0.5rem;
      align-self: center;
    }
    .ranking-dropdown {
      flex-grow: 1;
      max-width: 150px;
    }
  }
}

// Note edito
.note_editor,
.note-editor-preview {
  > .row,
  > .note_content_section > .row {
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    max-width: 900px;
  }
  &.panel {
    background: transparent;
    box-shadow: none;
  }
  .small_heading,
  .line_heading {
    font-size: 1rem;
    font-weight: bold;
    color: constants.$orRed;
  }
  .line_heading {
    display: inline-block;
    vertical-align: middle;
    width: 145px;
    margin-right: 0.25rem;
    min-width: fit-content;
  }
  .required_field {
    vertical-align: top;
    font-size: 0.75rem;
    color: constants.$orRed;
    margin-right: 0.25rem;
  }
  .required_field + .line_heading {
    width: 134px;
  }
  .hint {
    margin-bottom: 0.25rem;
  }
  .item {
    display: inline-block;
    margin-right: 0.5em;
    input {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
  .note_content_title {
    line-height: normal;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .note_content_value,
  .note_content_value_input {
    white-space: pre-wrap;
    font-weight: 400;
  }
  div.note_content_section {
    margin-top: 1rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    padding: 0.75rem 0.5rem 0.75rem 0.5rem;
    background: rgba(0, 0, 0, 0.08);

    > h2 {
      font-size: 1rem;
      line-height: normal;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
    > hr.small {
      display: block;
    }
    > .row:last-child {
      margin-bottom: 0.25rem;
    }
  }
  textarea.note_content_value {
    height: 280px;
  }
  input[type='file'] {
    height: auto;
  }
  input[type='radio'] {
    &.upload,
    &.url {
      margin-right: 0.5rem;
    }
  }
  .hover_title {
    display: inline-block;
    vertical-align: middle;
    .hover_target {
      background-color: transparent;
      padding: 0;
    }
  }
  .hover_result {
    font-size: 0.75rem;
    color: white;
    position: absolute;
    display: block;
    background-color: constants.$subtleGray;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin-top: -2rem;
    margin-left: -20px;
    z-index: 75;
  }
  .hover_result:after {
    content: '';
    padding: 0;
    position: absolute;
    border: solid transparent;
    border-top-color: constants.$subtleGray;
    border-width: 10px;
    top: 100%;
    left: 20px;
    z-index: 75;
  }
  .hover_target {
    cursor: default;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 2px 6px;
    border-radius: 2px;
    em {
      color: constants.$orRed;
    }
  }
  .hover_item {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 4px;
  }
  .removable_item,
  .removable_pair {
    margin-right: 0.75rem;
    line-height: 1.5rem;

    &.disabled {
      color: constants.$subtleGray;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
  .removable_item .removable_item_button {
    color: constants.$mediumBlue;
    margin-left: 0.25rem;
    cursor: pointer;

    &.disabled {
      color: constants.$subtleGray;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
  .removable_pair .removable_pair_button {
    margin-left: 0.25rem;
    top: 5px;
    cursor: pointer;
  }
  .hover_title + .dropdown {
    vertical-align: middle;
  }
  .list_adder,
  .map_adder,
  .list_adder_list {
    display: inline-block;
  }
  .char-counter {
    width: 80%;
    margin-top: 0.25rem;

    &.warning,
    &.danger {
      border: 0;
      font-weight: bold;
    }
    &.warning {
      color: constants.$darkBlue;
    }
    &.danger {
      color: lighten(constants.$orRed, 20%);
    }
  }
  .row button {
    margin-right: 0.25rem;
  }
  @media #{constants.$phone-only} {
    .dropdown {
      width: 100%;

      input,
      .dropdown_content {
        width: 100%;
      }
    }
  }
}
.modal-body .note_editor {
  .note_content_title {
    font-size: 1.25rem;
  }
  .dropdown input {
    width: 418px;
  }
}

// Dropdowns
.dropdown {
  display: inline-block;

  input {
    width: 500px;
  }

  &.show-arrow input {
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48cGF0aCBmaWxsPScjNzc3JyBkPSdNNy40MDYgNy44MjhsNC41OTQgNC41OTQgNC41OTQtNC41OTQgMS40MDYgMS40MDYtNiA2LTYtNnonPjwvcGF0aD48L3N2Zz4=');
    background-position: 100% 70%;
    background-repeat: no-repeat;
    background-color: #fffaf4;
    padding-right: 24px;
  }
}
.hover_title + .dropdown {
  vertical-align: middle;
}
.dropdown_content {
  position: absolute;
  padding: 0.25rem 0px;
  height: 202px;
  width: 500px;
  border: 2px solid lighten(constants.$mediumBlue, 10%);
  border-top: 0;
  overflow-y: scroll;
  background-color: white;
  text-align: left;
  z-index: 100;

  > div {
    cursor: pointer;
    color: constants.$subtleGray;
    padding: 0.25rem 0.75rem;
  }
  .active {
    background-color: constants.$mediumBlue;
    color: #fff;
    outline: 0px solid transparent;
  }
}

.markdown-preview-tabs {
  margin-top: 0.5rem;
  width: 80%;

  li > a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.75rem;
  }
}
.tab-content > .markdown-panel {
  padding-top: 0;
  padding-left: 0;
}
.tab-content > .markdown-preview-panel {
  width: 80%;
  height: 280px;
  font-size: 0.75rem;
  border: 1px solid #ddd;
  border-top: 0;
  padding: 0.75rem 1rem;
  background-color: constants.$backgroundWhite;
  overflow-y: scroll;
  overflow-x: hidden;
  .note_content_value {
    width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    &.markdown-rendered {
      @include mixins.markdown-content-styles;
    }
  }
}

// User Moderation
.moderation-status {
  width: 1150px;
  margin: 1.75rem auto 0 -1rem;
  display: flex;
  align-items: center;

  h4 {
    margin: 0 1rem 0 0;
  }
  select {
    width: 140px;
    line-height: 0.75rem;
    margin-top: 2px;
  }

  .terms-timestamp {
    margin-left: 2.5rem;
  }
  button {
    margin-left: 0.5rem;
  }
}
.moderation-container {
  margin-left: -1rem;
  .filter-form {
    display: flex;
    margin-bottom: 0.75rem;

    input {
      flex-grow: 1;
      margin-right: 0.5rem;
    }

    .dropdown-profile-state {
      margin-right: 0.5rem;
      width: 25%;
    }
  }

  .profiles-list {
    width: 1150px;
    margin: 1.75rem 0;
    min-height: 100px;

    h4 {
      display: inline-block;
      margin-right: 1rem;
      margin-top: 0;
    }

    .sort-button {
      vertical-align: baseline;
    }

    ul.list-paginated > li.blocked {
      opacity: 0.5;
    }
    ul.list-paginated > li.deleted {
      opacity: 0.5;
    }

    ul.list-paginated > li > span {
      line-height: 26px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.col-name {
        width: 180px;
      }
      &.col-email {
        width: 250px;
      }
      &.col-created {
        width: 240px;

        .passed-moderation {
          color: constants.$orRed;
        }
      }
      &.col-status {
        width: 200px;
        cursor: pointer;
        .label {
          line-height: 26px;
        }
        .last-previewed {
          box-shadow: 0 0 5px constants.$orRed;
        }
      }
      &.col-actions {
        width: 270px;
        text-align: right;
      }
    }
    .btn-xs {
      font-weight: normal;
    }
    .btn-block-profile {
      min-width: 5.5rem;
    }
  }

  .spinner-container {
    margin: 2rem 0;
  }

  .form-rejection {
    display: flex;
    flex-flow: column;
    text-align: left;

    .btn {
      align-self: flex-start;
      margin-top: 0.25rem;
    }
  }

  #profile-preview {
    .tags-container {
      display: flex;
      flex-flow: wrap;
    }
    .tags-dropdown {
      &__control {
        background-color: #fffaf4;
        border: 2px solid lighten(constants.$mediumBlue, 10%);
        padding: 0 0.75rem;
      }
      &__value-container {
        padding: 0;
        text-align: left;
      }
      &__menu {
        text-align: left;
      }

      > div {
        cursor: pointer;
        color: constants.$subtleGray;
        padding: 0.25rem 0.75rem;
      }
      .active {
        background-color: constants.$mediumBlue;
        color: #fff;
        outline: 0px solid transparent;
      }
    }
    .modal-dialog {
      min-width: 60%;
    }
    .modal-content {
      min-width: fit-content;

      .moderation-actions {
        display: flex;
        flex-direction: column;

        .moderation-actions-buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 0.5rem;

          button {
            margin-right: 0.5rem;
          }
        }
      }
    }
    section {
      margin-bottom: 1.5rem;
      max-width: 1000px;

      h4 {
        width: 100%;
        padding-bottom: 0.25rem;
        border-bottom: 1px solid constants.$borderGray;
        margin-right: 0;
        margin-bottom: 0.5rem;
      }
      .instructions,
      .glyphicon {
        display: none;

        &.url-status {
          display: inline-block;
          color: #5cb85c;
          margin-left: 0.25rem;

          &.glyphicon-remove {
            color: constants.$orRed;
          }
        }
      }
      .list-compact > div {
        display: inline-block;
        line-height: normal;
      }
      .messages-table {
        margin-bottom: 0;
      }
      .empty-message {
        color: constants.$subtleGray;
        font-style: italic;
        margin-top: 0;
        margin-bottom: 0;
      }
      .table-row {
        display: flex;
        gap: 1%;

        .start-end-year {
          white-space: nowrap;
        }
      }
      .actions {
        display: none;
      }
    }

    section.links,
    section.history {
      .section-content {
        width: 100%;

        display: flex;
        flex-direction: column;
        white-space: nowrap;

        .link-text,
        .institution {
          max-width: 600px;
          overflow-x: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          vertical-align: bottom;
          margin-left: 0.25rem;
        }
      }
    }

    section.links {
      .section-content {
        .spinner-container {
          display: inline-block;
          margin: 0 0.25rem;

          .spinner {
            height: 15px;
            margin: 0;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }

    section.messages {
      .message-row > td > div {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 40px;
      }
    }
  }
}

.name-deletion-list {
  margin-left: -1rem;
  .name-deletion-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    line-height: 26px;

    .col-status {
      margin-right: 0.25rem;
      width: 6%;
    }

    .name {
      width: 15%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .usernames {
      width: 15%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .comment {
      width: 20%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-grow: 1;
      margin-right: 0.5rem;

      .full-comment {
        background: #efece3;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        white-space: normal;
      }
    }
    .col-created {
      width: 18%;
      margin-right: 0.25rem;
    }
    .col-actions {
      width: 20%;
    }
  }
}

.profile-merge-list {
  margin-left: -1rem;
  .profile-merge-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    line-height: 26px;

    .col-status {
      margin-right: 0.25rem;
      width: 6%;
    }

    .compare,
    .signature {
      width: 20%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 0.25rem;
      &.last-previewed {
        font-weight: bold;
      }
    }
    .signature {
      width: 15%;
      cursor: pointer;
    }

    .comment {
      width: 5%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-grow: 1;
      margin-right: 0.5rem;
    }
    .col-created {
      width: 18%;
      margin-right: 0.25rem;
    }
    .col-actions {
      width: 22%;
    }
  }
}

.venue-request-list {
  margin-left: -1rem;
  .venue-request-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.25rem;

    .request-name {
      width: 30%;
    }
    .request-status {
      display: flex;
      justify-content: space-around;
      margin-right: 1.5rem;
      width: 30%;
      .deploy-label {
        width: 35%;
        margin-right: 1.5rem;
      }
      .comment-label {
        width: 35%;
        margin-right: 0.5rem;

        a {
          color: white;
        }
      }
      .tcdate-label {
        width: 30%;
        font-size: 0.65rem;
        align-self: center;
      }
    }
  }
}

.email-deletion-container {
  margin-left: -1rem;
  form {
    display: flex;
    margin-bottom: 0.75rem;

    .form-control {
      margin-right: 0.5rem;
      width: 25%;
      &.comment {
        width: 40%;
      }
    }
  }
  .email-deletion-row {
    display: flex;
    margin-bottom: 0.5rem;
    .col-status {
      margin-right: 0.25rem;
      width: 5%;
    }
    .col-email,
    .col-profile,
    .col-comment {
      width: 25%;
    }
  }
}

.institution-container {
  margin-left: -1rem;
  .search-forms {
    margin-bottom: 0;

    .institution-search-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 0.75rem;

      .search-button {
        margin-bottom: 0.25rem;
      }

      .form-control {
        margin-right: 0.5rem;
        margin-bottom: 0.25rem;
        width: 24%;
      }
    }

    .institution-add-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .add-button {
        height: 30px;
      }

      .form-control,
      .dropdown-select {
        margin-right: 0.5rem;
        margin-bottom: 0.25rem;
        width: 24%;
        .dropdown-select__option {
          height: auto;
        }
      }
    }
  }
  .institution-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 0.5rem;
    line-height: 30px;

    .col-actions {
      display: flex;
      width: 8%;
      .btn-delete-institution {
        margin-left: 0.25rem;
      }
    }
    .col-short-name,
    .col-full-name,
    .col-parent {
      width: 20%;
      padding-left: 0.25rem;
    }
    .col-domains {
      width: 15%;
      padding-left: 0.25rem;
    }
    .col-country,
    .col-state,
    .col-webpages {
      width: 20%;
      margin-right: 0.25rem;

      .dropdown-select__option {
        height: auto;
        line-height: 20px;
      }
    }
  }
}

// Profile Search Widget
.search-profile {
  .submission-authors,
  .search-results {
    .author-row {
      display: inline-flex;
      width: 96%;
      margin: 0.25rem;

      @media #{constants.$phone-only} {
        width: 100%;
      }

      .profile-card {
        display: flex;
        flex: 19;
        .basic-information {
          flex: 3;
          .author-fullname {
            font-style: italic;
          }
          .author-title {
            font-size: 0.75rem;
            color: #777777;
          }
          .light-gray {
            color: #c6c6c6;
          }
          .black {
            color: black;
          }
        }
        .author-emails {
          flex: 2;
          font-size: 0.75rem;
        }
      }

      .profile-actions {
        flex: 1;
        .btn {
          margin-top: 0.25rem;
        }
      }
    }
  }

  .search-container {
    width: 100%;
    margin-bottom: 0.5rem;
    display: inline-flex;

    .note-content-search {
      flex-grow: 1;
      white-space: pre-wrap;
      font-weight: 400;
      margin-right: 0.5rem;

      @media #{constants.$phone-only} {
        margin-bottom: 0.5rem;
      }
    }

    .spinner-small.spinner-search {
      margin-top: 0.5rem;
      width: 15%;
      .rect1,
      .rect2,
      .rect3,
      .rect4 {
        background-color: #8c1b13;
      }
    }

    .spinner-small.spinner-search.invisible {
      visibility: hidden;
    }

    @media #{constants.$phone-only} {
      width: 100%;
      display: block;
    }
  }
}

.modal-body {
  .search-profile {
    .submission-authors,
    .search-results {
      .author-row {
        width: 100%;
      }
    }
  }
  .search-container {
    width: 100%;
  }
}

// Multiselector
.multiselector.dropdown {
  margin: 0 0.25rem;
  display: inline-block;

  button {
    text-align: left;
    line-height: 0.75rem;
    font-size: 0.875rem;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48cGF0aCBmaWxsPScjNzc3JyBkPSdNNy40MDYgNy44MjhsNC41OTQgNC41OTQgNC41OTQtNC41OTQgMS40MDYgMS40MDYtNiA2LTYtNnonPjwvcGF0aD48L3N2Zz4=');
    background-position: 100% 70%;
    background-repeat: no-repeat;
    background-color: #fffaf4;
    border: 2px solid lighten(constants.$mediumBlue, 10%);
    padding-right: 24px;
  }
  button[disabled] {
    background-color: #eee;
  }

  input[type='checkbox'] {
    width: 14px;
    height: 14px;
    margin: 3px 8px 0 -20px;
    position: absolute;
  }

  ul.dropdown-menu {
    width: auto;
    min-width: 100px;
    background-color: #fff;
    border-color: constants.$mediumBlue;
    border-radius: 0;
    border-width: 2px;
    margin-top: 3px;
    padding: 2px 0;
    max-height: 440px;
    overflow-y: scroll;

    li {
      line-height: 20px;
      height: 30px;
      padding: 5px 10px;
      width: auto;
    }

    li.select-all-item {
      border-bottom: 1px solid constants.$backgroundGray;
      height: 35px;
      margin-bottom: 5px;
    }

    label {
      font-weight: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0;
      color: #555555;
      padding-left: 20px;
    }
  }
}

// Accordion widget
.webfield-accordion {
  & > .panel {
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .panel-default > .panel-heading {
    border-radius: 0;
  }
  .panel-heading {
    background-color: transparent;
    padding: 0.5rem;
  }
  .panel-title {
    font-size: 0.875rem;
    font-weight: bold;
    margin-left: -0.5rem;
    a {
      color: constants.$mediumBlue;
      &:hover {
        color: constants.$mediumDarkBlue;
      }
    }
    .glyphicon {
      font-size: 0.75rem;
      top: 1px;
    }
    .collapse-btn {
      padding-right: 0.25rem;
      &:hover {
        text-decoration: none;
      }
    }
    .collapse-btn.collapsed .glyphicon {
      transform: rotate(270deg);
    }
  }
  .panel-body {
    padding: 0.5rem;
    padding-left: 1.25rem;
    p:last-child,
    ul:last-child {
      margin-bottom: 0;
    }
  }
  &.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0;
  }
  hr.webfield-accordion-divider {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
header,
#header {
  .webfield-accordion {
    .panel-title {
      font-size: 0.875rem;
      font-weight: bold;

      .glyphicon {
        padding-right: 0;
      }
    }
  }
}
#venues.webfield-accordion {
  .panel-title .glyphicon {
    top: -3px;
  }
  span.h3 {
    font-size: 1.75rem;
    padding-right: 0.25rem;
  }
  span.h4 {
    font-weight: normal;
  }
  .venues-list li + li {
    margin-top: 0.5rem;
  }
}

// markdown preview tab
.markdown-preview {
  &__textarea {
    padding-bottom: 0.25rem;
  }
  &__doc-link {
    font-size: 0.75rem;
    color: constants.$mediumBlue;
    background-color: #fffaf4;
    padding: 0.25rem 0.25rem;

    svg {
      margin-right: 0.25rem;
      vertical-align: sub;
    }
  }
  textarea {
    width: 100% !important;
    min-height: 250px;
  }
  .tab-pane {
    padding: 0;
  }
  .nav-tabs {
    font-size: 0.75rem;
  }
  div.preview {
    @include mixins.markdown-content-styles;
    height: 250px;
    overflow-y: scroll;
    padding: 0.375rem 0.75rem;
  }
}

// CodeMirror highlighting
.cm-editor {
  resize: vertical;
  overflow: hidden;

  div.cm-line {
    span.cmt-comment {
      color: #164;
    }
    span.cmt-number {
      color: #a11;
    }
  }
}

.collapse-widget {
  .collapse-indent {
    border-left: 2px solid constants.$backgroundGray;
    padding-left: 0.75rem;
  }
}

// #region webfield react components
// DropdownList
.dropdown-list {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 50%;

  .line_heading {
    max-width: 20%;
    word-wrap: break-word;
    width: unset;
    align-self: center;
  }

  .dropdown-select {
    flex-grow: 1;
  }
}

// TextArea
.textarea {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  textarea {
    resize: vertical;
  }

  .title,
  .description {
    display: flex;
  }

  .content {
    display: flex;
    .markdown-preview {
      flex-grow: 1;
      margin-top: 0;
    }
  }

  .counter-warning {
    display: flex;

    .char-counter {
      width: 40%;
      &.warning,
      &.danger {
        border: 0;
        font-weight: bold;
      }
      &.warning {
        color: constants.$darkBlue;
      }
      &.danger {
        color: lighten(constants.$orRed, 20%);
      }
    }
  }
}

// ReadOnlyField
.readonly-field {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  .line_heading {
    width: unset;
  }
  .line_value {
    align-self: center;
  }
}
// #endregion

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.custom-control-input {
  position: absolute;
  z-index: -1; // Put the input behind the label so it doesn't overlay text
  opacity: 0;

  &:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: constants.$mediumBlue;
    background-color: constants.$mediumBlue;
  }

  &:focus:not(:checked) ~ .custom-control-label::before {
    border-color: constants.$mediumBlue;
  }

  &:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: constants.$mediumBlue;
    border-color: constants.$mediumBlue;
  }
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: middle;
  font-size: 0.75rem;

  // Background-color and (when enabled) gradient
  &::before {
    position: absolute;
    top: 1px;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: '';
    background-color: #fff;
    border: #adb5bd solid 1px;
  }

  // Foreground (icon)
  &::after {
    position: absolute;
    top: 0.5rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: '';
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}

.custom-switch {
  padding-left: 2.25rem;

  .custom-control-label {
    cursor: pointer;

    &::before {
      left: -2.25rem;
      width: 1.75rem;
      pointer-events: all;
      border-radius: 0.5rem;
    }

    &::after {
      top: calc(0.25rem - 1px);
      left: calc(-2.25rem + 2px);
      width: calc(1rem - 4px);
      height: calc(1rem - 4px);
      background-color: #adb5bd;
      border-radius: 0.5rem;
      transition:
        transform 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out,
        -webkit-transform 0.15s ease-in-out;
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::after {
      background-color: #fff;
      transform: translateX(0.75rem);
    }
  }
}
