// Global styles for used by all pages and components

@use 'utils/constants';
@use 'utils/mixins';
@use 'sass:color';

html {
  font-size: 16px;
  scrollbar-gutter: stable;

  @media #{constants.$phone-only} {
    font-size: 14px;
  }
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.875rem;

  &.modal-open {
    padding-right: 0 !important;
  }
}
#__next {
  // padding-top: 50px;
  background-color: constants.$backgroundWhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  > .container {
    flex-grow: 1;
    display: flex;

    .row {
      width: 100%;
    }
  }

  > .container-fluid {
    flex-grow: 1;
    display: flex;
    margin-left: 0;
    margin-right: 0;

    .row {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

h1,
h2,
h3 {
  color: constants.$darkBlue;

  @media #{constants.$phone-only} {
    letter-spacing: -0.5px;
  }
}
.h1,
h1 {
  font-size: 2.25rem;
}
.h2,
h2 {
  font-size: 1.875rem;
}
.h3,
h3 {
  font-size: 1.5rem;
}
.h4,
h4 {
  font-size: 1rem;
  font-weight: bold;
  color: constants.$orRed;
}

a {
  color: constants.$mediumBlue;

  &:focus,
  &:hover {
    color: constants.$mediumDarkBlue;
    text-decoration: none;
  }
  &[disabled] {
    pointer-events: none;
    color: constants.$subtleGray;
  }
}
.link-color {
  color: constants.$mediumBlue;
}
pre {
  border-radius: 0;
}
hr {
  border: 0;
  border-top: 1px solid constants.$borderGray;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  &.small {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }
}

// Spacing utils
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mt-4 {
  margin-top: 1.5rem;
}
.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 1rem;
}
.mr-4 {
  margin-right: 1.5rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 1rem;
}
.ml-4 {
  margin-left: 1.5rem;
}

.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 0.25rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-3 {
  padding-top: 1rem;
}
.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pr-3 {
  padding-right: 1rem;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-3 {
  padding-bottom: 1rem;
}
.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 0.25rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-3 {
  padding-left: 1rem;
}
.r-90 {
  transform: rotate(90deg);
}
.r-180 {
  transform: rotate(180deg);
}
.r-270 {
  transform: rotate(270deg);
}

@media #{constants.$phone-only} {
  .mobile-full-width {
    margin-left: -15px;
    margin-right: -15px;
  }
}

// Forms
.btn {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.125rem;
  text-align: center;
  min-width: 5rem;

  color: #fff;
  background-color: constants.$mediumBlue;
  border: 2px solid constants.$mediumDarkBlue;
  &:hover,
  &:active,
  &:focus {
    color: #fff;
    background-color: constants.$mediumDarkBlue;
    border-color: constants.$mediumDarkBlue;
  }
  &.disabled:hover {
    background-color: constants.$mediumBlue;
  }
}
.btn-primary {
  color: #fff;
  background-color: constants.$mediumBlue;
  border: 2px solid constants.$mediumDarkBlue;

  &[disabled]:hover {
    background-color: constants.$mediumBlue;
    border: 2px solid constants.$mediumDarkBlue;
  }
}
.btn-default {
  color: constants.$mediumBlue;
  background-color: constants.$backgroundWhite;
  border: 2px solid constants.$mediumDarkBlue;

  &:hover,
  &:active,
  &:focus {
    color: constants.$darkBlue;
    background-color: constants.$backgroundGray;
    border-color: constants.$subtleGray;
  }
}
.btn-link {
  color: constants.$mediumBlue;
  background-color: transparent;
  border-width: 1px;
}
.btn-sm {
  font-size: 0.75rem;
}
.btn-xs {
  font-size: 0.75rem;
  font-weight: bold;
  padding: 2px 10px;
  min-width: auto;
}
.btn-icon {
  min-width: auto;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 1px constants.$mediumBlue;
}
.glyphicon {
  top: 2px;
}
.btn .glyphicon {
  color: #fff;
  top: 2px;
}
.btn-default .glyphicon {
  color: inherit;
  top: 2px;
}
.btn-link .glyphicon {
  color: constants.$mediumDarkBlue;
}
.btn-xs .glyphicon {
  top: 1px;
}
.trashed {
  opacity: 0.35;
}

.form-control {
  font-size: 0.875rem;
  padding: 0.375rem 0.75rem;
  background-color: #fffaf4;
  border: 2px solid color.adjust(constants.$mediumBlue, $lightness: 10%);
  border-radius: 0;

  &:focus {
    border-color: constants.$mediumDarkBlue;
  }
  &.input-sm {
    font-size: 0.75rem;
  }
  &.form-invalid {
    border-color: constants.$orRed;
  }
}
.form-control-feedback {
  color: constants.$subtleGray;
}
.glyphicon.form-control-feedback {
  top: 0;
}
.legacy-styles .has-feedback .form-control-feedback {
  top: 0;
}
select.form-control {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48cGF0aCBmaWxsPScjNzc3JyBkPSdNNy40MDYgNy44MjhsNC41OTQgNC41OTQgNC41OTQtNC41OTQgMS40MDYgMS40MDYtNiA2LTYtNnonPjwvcGF0aD48L3N2Zz4=');
  background-position: 100% 70%;
  background-repeat: no-repeat;
  background-color: #fffaf4;
  padding-right: 24px;
}
input[type='text'].form-control,
textarea.form-control {
  // There is an issue with Noto Sans and backticks, so use a different font for inputs and textareas
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.checkbox,
.radio {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.radio input[type='radio'],
.radio-inline input[type='radio'] {
  margin-top: 3px;
}
.checkbox-inline,
.checkbox-inline + .checkbox-inline,
.checkbox-inline + .radio-inline,
.radio-inline,
.radio-inline + .radio-inline,
.radio-inline + .checkbox-inline {
  margin-left: 0;
  margin-right: 0.625rem;
}
.checkbox-inline:last-child,
.radio-inline:last-child {
  margin-right: 0;
}
.input-group .input-group-addon {
  border-radius: 0;
  border-width: 2px;
  border-color: color.adjust(constants.$mediumBlue, $lightness: 10%);
  .glyphicon {
    color: constants.$subtleGray;
    top: 1px;
  }
}
.toggle-group > .btn > input[type='checkbox'],
.toggle-group > .btn > input[type='radio'] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.note_editor .file-input-group,
.note-editor-preview .file-input-group {
  input[type='file'] {
    height: 36px;
  }
  .input-group-btn button {
    margin-left: -2px;
    margin-right: 0;
    min-width: auto;
    height: 36px;
    border-color: color.adjust(constants.$mediumBlue, $lightness: 10%);
    border-radius: 0;
  }
}
.note_editor {
  .progress {
    border-radius: 0;
    margin-bottom: 0;
  }
}
.dropdown-menu {
  &.dropdown-align-right {
    left: auto;
    right: 0;
  }
}
div.tooltip-inner {
  border-radius: 2px;
  padding: 5px 10px;
  background-color: constants.$darkBlue;
}
.tooltip.top .tooltip-arrow {
  border-top-color: constants.$darkBlue;
}
.hint {
  font-size: 0.75rem;
  color: constants.$subtleGray;
  font-weight: normal;
}
strong.hint {
  font-size: 0.875rem;
  font-weight: bold;
}

// Main content
$bannerHeight: 39px;
#content {
  box-sizing: border-box;
  position: relative;
  padding: 20px 0 30px 0;
  // min-height: calc(100vh - 243px);
  height: 100%;
  @include mixins.clearfix;

  // &.banner-hidden {
  //   min-height: calc(100vh - 204px);
  // }
  &.minimal-footer {
    padding-bottom: 0;
    // min-height: calc(100vh - 126px);
  }
  // &.banner-hidden.minimal-footer {
  //   min-height: calc(100vh - 88px);
  // }

  @media #{constants.$phone-only} {
    padding: 15px 0 20px 0;
    // min-height: calc(100vh - 273px);

    // &.banner-hidden {
    //   min-height: calc(100vh - 239px);
    // }
    // &.minimal-footer {
    //   min-height: calc(100vh - 120px);
    // }
    // &.minimal-footer.banner-hidden {
    //   min-height: calc(100vh - 85px);
    // }
  }
}

#header,
header {
  h1 {
    font-weight: bold;
    text-shadow: 0px 1px 0px #fff;
    margin-top: 0.5rem;
    margin-bottom: 0.875rem;
  }
}

.table-row {
  display: table;
  width: 100%;

  & > div {
    display: table-cell;
  }
}

.alert {
  padding: 0.75rem;
  border-radius: 0;
}
.alert-danger {
  .glyphicon {
    padding-right: 0.25rem;
  }
}
.legacy-styles .alert {
  .important_message,
  .important_term {
    font-weight: normal;
    color: inherit;
  }
}
.important_message {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.no-margin {
  margin: 0;
}
.legacy-styles .panel {
  background: transparent;
  box-shadow: none;
  border: 0;
  margin: 0;
}

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
.well {
  background: constants.$sandyBrown;
  padding: 0.5rem;
  margin-bottom: 1.875rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

// Modals
.modal-content {
  background-color: constants.$backgroundWhite;
  border-radius: 0;

  form {
    input,
    textarea {
      max-width: 100%;
    }
    .clearable-input {
      position: relative;

      button {
        position: absolute;
        right: 0;
        top: 0%;
        height: 100%;
        border-radius: 0;
        border-color: #659aae;
        background-color: #659aae;
      }

      &:focus-within button {
        background-color: #3f6978;
        border-color: #3f6978;
        box-shadow:
          inset 0 1px 1px rgba(0, 0, 0, 0.075),
          0 0 8px rgba(102, 175, 233, 0.6);
      }
    }

    .feedback-dropdown {
      &__control {
        border: 2px solid #659aae;
      }
    }
  }
}
.modal-body {
  .alert {
    margin-bottom: 1rem;
  }
}
.modal-header {
  padding: 12px 15px;
}
.modal-footer {
  padding: 12px 15px;
}
.modal-backdrop {
  background-color: constants.$darkBlue;
}

// Flash message
#edit-banner {
  padding: 12px 0;
  margin: 0;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;

  .alert-content {
    line-height: 21px;
  }
  .btn-xs {
    display: inline-block;
    margin-top: -2px;
    margin-left: 6px;
    font-weight: normal;
  }

  button.close {
    right: 0;
  }
  .alert-content > strong {
    padding-right: 5px;
  }

  &.alert-warning {
    background-color: constants.$sandyBrown;
    border-color: constants.$backgroundGray;
  }
}
#edit-banner {
  .alert-content span {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline-block;
    height: 21px;
  }
}

// Loading spinner
.spinner-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  span {
    display: block;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
  }

  &.spinner-inline {
    position: static;
    top: auto;
    left: auto;
    transform: none;
  }
  &.spinner-mini {
    position: absolute;
    display: inline-block;
    top: auto;
    left: auto;
    transform: none;

    .spinner {
      margin: 0;
      height: 34px;
      width: 40px;
      & > div {
        width: 6px;
        margin-right: 2px;
      }
    }
    & > span {
      display: none;
    }
  }
}

.spinner {
  margin: 5px auto;
  width: 52px;
  height: 60px;
  text-align: center;
  font-size: 10px;

  & > div {
    background-color: constants.$orRed;
    height: 100%;
    width: 8px;
    float: left;
    margin-right: 3px;
  }
}

.spinner-small {
  display: inline-block;
  width: 26px;
  height: 20px;
  text-align: left;
  font-size: 10px;
  margin-left: 10px;
  margin-top: 0px;

  & > div {
    float: left;
    background-color: #fff;
    height: 100%;
    width: 5px;
    margin-right: 2px;
  }
}

.btn .spinner-small {
  margin-top: -1px;
  margin-bottom: -5px;
}
.btn-sm .spinner-small {
  height: 18px;
  margin-top: -1px;
  margin-bottom: -4px;
}
.btn-default .spinner-small > div {
  background-color: constants.$mediumBlue;
}

.spinner,
.spinner-small {
  & > div {
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
    &:last-child {
      margin-right: 0;
    }
  }

  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

// Pagination
.pagination {
  font-weight: bold;

  & > li {
    & > a,
    & > span {
      color: constants.$mediumBlue;
      background-color: constants.$sandyBrown;
      @media #{constants.$phone-only} {
        padding: 6px 10px;
      }
    }
    a:focus,
    a:hover,
    span:focus,
    span:hover {
      background-color: transparent;
      text-decoration: none;
    }
    &.left-arrow,
    &.right-arrow {
      & > a,
      & > span {
        font-size: 1.125rem;
        line-height: 1.25rem;
        padding-top: 4px;
        padding-bottom: 8px;
      }
    }
  }
  & > .active {
    a,
    a:focus,
    a:hover,
    span,
    span:focus,
    span:hover {
      color: #fff;
      background-color: constants.$mediumBlue;
    }
  }
  & > .disabled {
    a,
    a:focus,
    a:hover,
    span,
    span:focus,
    span:hover {
      color: constants.$subtleGray;
      background-color: constants.$sandyBrown;
    }
  }
  & > li:first-child,
  & > li:last-child {
    & > a,
    & > span {
      border-radius: 0;
    }
    @media #{constants.$phone-only} {
      display: none;
    }
  }
}
.pagination-container {
  &.loading > ul.pagination {
    opacity: 0.5;
  }
  .pagination-count {
    display: block;
    color: constants.$subtleGray;
  }
  @media #{constants.$phone-only} {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.pagination-container-with-control {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#content .error-display {
  header {
    margin-bottom: 0;
    h1 {
      float: none;
      margin-top: 0.5rem;
      font-weight: bold;
    }
  }
  .error-message {
    max-width: 720px;
    margin: 20px auto;
    margin-bottom: 40px;
    white-space: inherit;
    word-break: break-word;
  }
  .error-help {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }
}

// Modals
#message-reviewers-modal,
.message-reviewers-modal {
  .reviewer-list {
    height: 104px;
    overflow-y: auto;
    font-size: 0.75rem;
    line-height: 1.125rem;

    span {
      color: constants.$subtleGray;
    }
  }
  .alert-danger {
    margin-bottom: 1rem;
  }
}
.message-reviewers-modal {
  .reviewer-list {
    height: auto;
    max-height: 600px;
  }
}

#message-group-members {
  .receiver-list {
    font-size: 0.75rem;
    line-height: 1.125rem;
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    margin-bottom: 1rem;
  }
  .alert-danger {
    margin-bottom: 1rem;
  }
}

#reviewer-activity-modal {
  .modal-header {
    h3 {
      margin-bottom: 0.125rem;
    }
    ul {
      margin-bottom: 0.25rem;
    }
    strong {
      color: constants.$orRed;
    }
  }
  p.empty-message {
    margin: 1rem 0;
  }
  .submissions-list {
    margin-bottom: 0;

    .note h4 {
      font-size: 1rem;
    }
    .note-meta-info {
      margin-bottom: 0;
      .readers {
        display: none;
      }
    }
  }
}

// Notification
.rc-notification {
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 80px !important;
  left: 0 !important;
  box-sizing: border-box;
  pointer-events: none;

  .rc-notification-notice {
    display: block;
    margin: 1rem;
    text-align: center;
    right: 0 !important;
    animation-duration: 0.3s;
    animation-name: slidedown;

    @keyframes slidedown {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0);
      }
    }

    .rc-notification-notice-content {
      display: inline-flex;
      align-items: baseline;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 5%;
      padding-right: 10%;
      background-color: white;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 16px 0px;
      pointer-events: all;
      text-align: left;
      margin-right: -1.75rem;
      line-height: 21px;
      width: 80%;

      @media #{constants.$phone-only} {
        margin: 0;
        padding-right: 5%;
      }
      font-size: 0.875rem;

      p {
        margin-bottom: 0;
      }

      &:has(.message) {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
      }

      &:has(.error) {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
      }

      &:has(.login) {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
      }
    }

    .rc-notification-notice-close {
      pointer-events: all;
      margin-right: 0;
      color: darkgray;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:hover {
        color: black;
      }
    }
  }
}
