@import 'pages/activity';
@import 'pages/assignment-stats';
@import 'pages/assignments';
@import 'pages/edge-browser';
@import 'pages/embed';
@import 'pages/group';
@import 'pages/home';
@import 'pages/invitation';
@import 'pages/login';
@import 'pages/messages';
@import 'pages/notifications';
@import 'pages/profile-compare';
@import 'pages/profile-edit';
@import 'pages/profile';
@import 'pages/reset';
@import 'pages/revisions-compare';
@import 'pages/revisions';
@import 'pages/search';
@import 'pages/signup';
@import 'pages/sponsors';
@import 'pages/tasks';
@import 'pages/venue';
@import 'pages/venues';
@import 'pages/contact';
