# This workflow will do a clean install, build the source code and run tests across different versions of node
# See: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Next.js CI

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]
  repository_dispatch:
    types: [ openreview-api-updated ]

jobs:
  build:
    env:
      API_URL: http://localhost:3000
      NEXT_PORT: 3030
      SUPER_USER: openreview.net
      USE_NEW_PROFILE_PAGE: 100

    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6379:6379

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.3.0
      with:
        mongodb-version: 4.4
        mongodb-replica-set: rs0
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Configure sysctl Limits
      run: |
        sudo swapoff -a
        sudo sysctl -w vm.swappiness=1
        sudo sysctl -w fs.file-max=262144
        sudo sysctl -w vm.max_map_count=262144
    - name: Run Elasticsearch
      uses: elastic/elastic-github-actions/elasticsearch@master
      with:
        stack-version: 7.6.0
    - name: Clone openreview-py
      uses: actions/checkout@v2
      with:
        repository: openreview/openreview-py
        path: openreview-py
    - name: Install openreview-py
      run: |
        cd openreview-py
        curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
        sudo python3 get-pip.py
        sudo pip3 install -e .
    - name: Checkout OpenReview API
      uses: actions/checkout@v2
      with:
        repository: openreview/openreview
        token: ${{ secrets.OPENREVIEW_ACCESS_TOKEN }}
        path: openreview-api
    - name: Cache OpenReview API
      id: cache-openreview-api
      uses: actions/cache@v2
      with:
        path: |
          ~/.npm
          openreview-api/node_modules
        key: ${{ runner.os }}-node-${{ hashFiles('openreview-api/package-lock.json') }}
    - name: Setup OpenReview API 1
      run: |
        cd openreview-api
        mkdir logs
        mkdir files
        mkdir files/attachments
        mkdir files/pdfs
    - name: Setup OpenReview API 2
      if: steps.cache-openreview-api.outputs.cache-hit != 'true'
      run: |
        cd openreview-api
        npm install
    - name: Run OpenReview API
      run: |
        cd openreview-api
        NODE_ENV=circleci node scripts/clean_start_app.js &
    - name: Cache OpenReview Web Next Build
      uses: actions/cache@v2
      with:
        path: |
          ${{ github.workspace }}/.next/cache
        key: ${{ runner.os }}-nextjs-${{ hashFiles('package-lock.json') }}
    - run: npm ci
    - run: npm run lint
    - run: npm run build
    - run: npm run start &
    - name: Run TestCafe Tests
      uses: DevExpress/testcafe-action@latest
    - name: Upload Test Videos
      if: ${{ failure() }}
      uses: actions/upload-artifact@v2
      with:
        name: videos
        path: /home/runner/work/openreview-web/openreview-web/videos/
    - name: Check API Logs
      if: ${{ failure() }}
      run: |
        cd openreview-api/logs
        cat "$(ls -rt | tail -n1)"
  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master'
    steps:
    - name: Install Google Cloud
      uses: google-github-actions/setup-gcloud@master
      with:
        version: 'latest'
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true
    - name: Deploy
      run: gcloud compute --project "sunlit-realm-131518" ssh --zone "us-central1-b" openreview@dev-instance-1 --command 'export NVM_DIR="$HOME/.nvm" && [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" && bash bin/deploy-web.sh' --quiet
